// Not Found Page STYLING
@import "../../styles";

.not-found-page {
  background: #07070F;
  width: 100%;
  height: calc(100vh - 49px);
  margin-top: -1px;
  position: relative;
  @include respond-to("small") {
    height: calc(100vh - 300px);
  }
}

.not-found-page-container {
  position: relative;
  width: 60%;
  margin: 20vh auto;
  display: grid;
  
  @include respond-to("medium") {
    grid-template-columns: 1fr;
    width: 70%;
  }
}

.not-found-page-img404 {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  right: 0px;
  object-fit: cover;
}

.not-found-page-text {
  position: relative;
  margin-left: 2vw;
  height: 250px;
  width: 70vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  @include respond-to("medium") {
    width: 100%;
    height: auto;
    margin-left: 0;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
  }
}

.not-found-page-oops-heading {
  text-align: left;
  color: rgba(255, 255, 255, 0.87) !important;
}

.not-found-page-oops-error-text {
  text-align: justify;
  color: rgba(255, 255, 255, 0.87) !important;
  white-space: pre-wrap;
}

.not-found-page-button-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}