// OLD COMPONENT STYLING

@import "../../styles";

.background-image {
  width: 100%;
  object-fit: cover;
}

.featured-content {
  width: 100%;
  display: flex;
}

.feature-placeholder {
  width: 100%;
  object-fit: cover;
  margin: auto;
  margin-bottom: 10px;
  padding-inline-end: 10px;
}

.featured-header {
  margin-top: 50px;
  height: 50px;
  vertical-align: middle;
  display: grid;
}

.header-text {
  margin: auto;
}

.line-divider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  height: 0.2px;
  margin-top: 100px;
}

.icon {
  width: 40%;
}

.search-box {
  background: white;
  border-color: black;
  height: 40px;
  border: 1px;
  padding: 10px;
}

.search-btn {
  color: white;
  width: 40px;
  height: 40px;
  background: black;
}

.search-txt {
  border: none;
  background: none;
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 40px;
  width: 240px;
}

.form-spacer {
  height: 16px;
}
