// CONCERT COMPONENT STYLING

@import "../../styles";

.concert-page {
  margin-top: -1px;
  background-color: black;
  padding: 2%;
}

.concert-image {
  width: 100%;
  height: auto;
}

.concert-text-container {
  margin-left: 2%;
  padding: 6%;
}

.titles {
  text-align: left;
  color: white;
}

.artist-description-text {
  text-align: left;
  color: white;
  white-space: pre-line;
}
