// STREAM COMPONENT STYLING

@import "../../styles";


.artist-stream-container {
  height: calc(-53px + 100vh);
  @include respond-to("small") {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
  }
}

.artist-stream-page-content {
  // margin-top: -1px;
  background-color: black;
  height: 100%;
  width: 100%;
  @include respond-to("small") {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
  }
}

.mobile-grid-stream {
  display: inline;
  @include respond-to("small") {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
  }
}

.mobile-row {
  display: flex;
  flex: 1 1 auto;
  // flex-flow: column;
}

.sticky-container {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.payment-row-mobile {
  flex: 0 1 60px;
}

.chat-row-mobile {
  flex-flow: column;
  flex: 1 0 auto;
  overflow-y: auto;
}

// CHAT STYLING
.artist-chat-main {
  height: calc((-53px + 100vh)/2);
  // height: 100vh;
  width: 100%;
  // position: -webkit-sticky;
  // position: sticky;
  position: relative;
  top: 0px;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.artist-video-main {
  // height: 37vw;
  height: calc(-53px + 100vh);
  // height: 100vh;
  width: 100%;
  // position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

.artist-control-main {
  width: 100%;
  background-color: #17171b;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-top: 3px solid black;
}

.artist-timer-wrapper {
  width: 100%;
  height: 50px;
}

.artist-activity-main {
  width: 100%;
  background-color: #17171b;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.full-width{
  width: 100%;
  height: 50%;
}

.main-column {
  max-width: 100%;
  min-width: 0;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.chat-column {
  max-width: 100%;
  min-width: 0;
  max-height: 100%;
  min-height: 0;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
}

.chat-main-mobile {
  height: calc(100vh - 411px);
  max-height: calc(100vh - 411px);
  // height: 400px;
  display: flex;
  flex-flow: column;
  // flex: 1 1 auto;
  overflow-y: auto;
  flex-grow: 1;
  // height: 60vh;
  min-width: 0;
  max-width: 100vh;
  // position: relative;
  justify-content: center;
  align-items: center;
  // height: 100%;
  // // overflow: hidden;
  // display: flex;
  // flex: 1;

  // @media only screen and (max-height: 750px) {
  //   height: 300px;
  // }
  // @media only screen and (max-height: 700px) {
  //   height: 300px;
  // }
  // @media only screen and (max-height: 680px) {
  //   height: 250px;
  // }
  // @media only screen and (max-height: 650px) {
  //   height: 230px;
  // }
  // @media only screen and (max-height: 580px) {
  //   height: 150px;
  // }
}

.artist-toggle-chat {
  position: absolute;
  left: 0px;
  top: 0px;
}


.artist-toggle-chat-button {
  border-radius: 5px 0px 0px 5px;
  background-color: transparent;
  padding: 5px;
  font-weight: bolder;
}

.fa-chevron-right {
  margin-left: 2px;
  color: #f3f3f3;
  &:hover {
    color: #497be0;
  }
}

.fa-chevron-left {
  margin-left: 2px;
  color: #f3f3f3;
  &:hover {
    color: #497be0;
  }
}

.artist-chat-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}


.artist-video-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

.chat-wrapper-mobile {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  // margin: auto;
}

// STREAM VIDEO STYLING
.stream-main {
  position: relative;
  // height: 100%;
  width: 100%;
  // margin-top: 3%;
  // margin-right: 0.5%;
}

.artist-stream-main {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: #17171b;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
}

.stream-main-mobile {
  width: 100%;
  height: auto;
}

.stream-wrapper-mobile {
  width: 100%;
  height: 55%;
}

.artist-stream-wrapper {
  margin: auto;
  width: 100%;
  position: relative;
}

.artist-player-wrapper {
  display: inline-block;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
  height: auto;
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
}

.artist-show-time {
  font-size: 0.8rem;
  margin: 0px;
  color: #e2e2e2;
  letter-spacing: 0.5px;
  float: left;
  padding: 5px;
  text-align: right;
}

.artist-box-header {
  height: 30px;
  width: 100%;
  background-color: #17171b;
  color: #DDDDDD;
  text-align: left;
  line-height: 30px;
  border-bottom: 1px solid #454242;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.045em;
  padding-left: 10px;
}

.video-chat-box-header {
  padding-left: 30px;
}

.player-inner-container {
  width: 100%;
  height: 100%;
}

.is-live-tag {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 2px;
  height: 30px;
  width: auto;
  color: #DDDDDD;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.045em;
}

.live-circle {
  color: red;
  padding-right: 5px;
  line-height: 17px;
}

.artist-go-live-button {
  margin-top: 10px;
  font-size: 1rem;
  &:hover {
    cursor: pointer;
  }
}