.start-button {
  /* padding: 20px 30px; */
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  width: 93%;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.065em;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background: #E465A2;
  border-radius: 4px;
}

.start-button:hover {
  background: #EA91BD;
}

.start-button:active {
  background: #E465A2;
}

.start-button::after {
  background: #E465A2;
}

.create-room-start-button {
  width: 93%;
}
