.start-button {
  /* margin: 0 auto; */
  display: flex;
  width: 93%;
  /* height: 48.6px;
  margin-top: auto;
  margin-bottom: 24px; */
  margin: auto;
  background: #e465a2;
  border-radius: 4px;
}

.start-button-text {
  color: #000000;
  margin: auto;
}

.artist-start-button {
  top: 50%;
  transform: translateY(-50%);
  height: 45px;
  width: 300px;
}

.start-button:hover {
  background: #ea91bd;
}

.start-button:active {
  background: #e465a2;
}

.start-button::after {
  background: #e465a2;
}

/* .create-room-start-button {
  width: 93%;
} */
