.app {
  display: none;
  background-color: #17171b;
  position: absolute;
  overflow: hidden;
  /* height: 100%; */
  top: 0px;
  bottom: 70px;
  width: 100%;
}

.artist-app {
  display: block;
  background-color: #17171b;
  position: absolute;
  overflow: hidden;
  top: 30px;
  bottom: 0px;
  width: 100%;
}

.transparent-completely-leave-video-chat-button {
  display: none;
}

.room-name-row {
  height: 40px;
  width: 100%;
  position: relative;
  background-color: #1C1C1C;
  border-top: 1px solid #3C3C3C;
  border-bottom: 1px solid #3C3C3C;
}

.public-room {
  height: auto;
  width: 50%;
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}

.only-public {
  left: 25%;
}

.private-room {
  height: auto;
  width: 50%;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  font-weight: 500;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(173, 173, 173);
}

.click-active:hover {
    cursor: pointer;
}