@import "../../../styles.scss";
.app {
  /* display: none; */
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  /* position: absolute; */
  overflow: hidden;
  /* height: 100%; */
  /* top: 0px; */
  bottom: 0px;
  width: 100%;
  position: relative;
}

.artist-app {
  display: block;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  position: absolute;
  overflow: hidden;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.transparent-completely-leave-video-chat-button {
  display: none;
}

.video-chat-info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: #757575;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgba(136, 136, 136, 0.38);
  height: 40px;
  width: 100%;
}

.video-chat-info-bar p {
  margin: auto;
  color: rgba(255, 255, 255, 0.87) !important;
}

.room-name-row {
  display: flex;
  height: 40px;
  width: 100%;
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f !important;
  // border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid rgba(136, 136, 136, 0.38);
}

.public-room {
  display: flex;
  flex: 1;
  position: relative;
  height: auto;
  width: 20%;
  /* position: absolute; */
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  /* left: 0px;
  top: 50%;
  transform: translateY(-50%); */
  color: rgb(173, 173, 173);
}

.room-tab-text {
  display: flex;
  margin: auto;
}

.room-selected {
  color: white !important;
}

.room-others {
  color: rgb(173, 173, 173) !important;
}
.only-public {
  left: 25%;
}

.private-room {
  height: auto;
  width: 50%;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  font-weight: 500;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(173, 173, 173);
}

.click-active:hover {
  cursor: pointer;
}

.public-video-notice {
  width: 100%;
  white-space: pre-wrap;
  margin: auto;
  /* margin-top: 50%; */
  // font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.87);
}

.invite-rodal-title-container {
  display: flex;
  width: 100%;
  height: 57.5px;
  border-bottom: 1px solid rgba(136, 136, 136, 0.38);
}

.invite-rodal-title {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 28px;
  color: $on-surface-high;
}

.invite-rodal-main-content {
  display: flex;
  flex-direction: column;
  margin-top: 13.5px;
  padding-left: 25px;
  padding-right: 25px;
}

.invite-instructions {
  display: flex;
  text-align: start;
}

.invite-url-box {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 56px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.07),
      rgba(255, 255, 255, 0.07)
    ),
    #07070f;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 5px;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(141, 141, 141, 0.596);
    border-radius: 20px;
  }
}

.invite-url-text {
  margin: auto;
  color: $on-surface-disable !important;
  padding-left: 18px;
  padding-right: 18px;
}

.invite-action-buttons-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0;
  margin-top: 22px;
}

.invite-cancel-button {
  min-width: 104px;
  height: 40.46px;
  background: transparent;
}

.invite-cancel-text {
  color: $on-surface-medium !important;
}

.invite-copy-button {
  width: 104px;
  height: 40.46px;
  margin-left: 12px;
}

// .invite-copy-button:disabled {
//   background-color: $primary-color;
//   color: rgba(0, 0, 0, 0.38) !important;
// }

.invite-copy-text {
  color: #000000;
}

.video-form-input {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  border: 1px solid #b7b7b741;
  color: white;
  font-size: 0.9rem;
}

.video-form-input:focus {
  border: 1px solid #b7b7b741;
}
.video-form-input::placeholder {
  font-size: 0.9rem;
  white-space: pre-wrap;
  top: 0px;
}

.enter-video-chat-prompt {
  display: flex;
  margin: auto;
  width: 90%;
  height: 100%;
  flex: auto;
  flex-direction: column;
  align-items: center;
}

.video-chat-prompt-container {
  display: flex;
  height: calc(100% - 80px);
  position: relative;
}

.create-room-name-input {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    ),
    #07070f;
  border-radius: 5px 5px 0px 0px;
  border: none;
  text-align: center;
  caret-color: #e465a2;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.87);
}

.start-button-container {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-bottom: 24px;
}

.create-room-name-input:focus {
  border-bottom: 1px solid #e465a2;
  border-top: none;
  border-left: none;
  border-right: none;
}

.create-room-error {
  font-size: 0.8rem;
  padding: 5px 0px;
  color: #be7884;
}

// .room-max-msg {

// }

.auto-roulette-button {
  height: 30px;
  margin-top: 5px !important;
  border: 1px solid #e465a2;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  color: #e465a2;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  letter-spacing: 0.065em;
}

.auto-roulette-button:active {
  background: #e465a2;
  color: rgba(255, 255, 255, 0.87);
}

/* The switch - the box around the slider */
.auto-roulette-switch {
  position: absolute;
  display: flex;
  width: 34px;
  height: 14px;
  margin-bottom: 0px !important;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

/* Hide default HTML checkbox */
.auto-roulette-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.auto-roulette-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.auto-roulette-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -3px;
  // border: 2px solid #E465A2;
  background-color: rgba(255, 255, 255, 0.87);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .auto-roulette-slider {
  background-color: #e465a2;
}

input:focus + .auto-roulette-slider {
  box-shadow: 0 0 1px #e465a2;
}

input:checked + .auto-roulette-slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
  background-color: rgba(255, 255, 255, 0.87);
}

/* Rounded sliders */
.auto-roulette-slider.round {
  border-radius: 34px;
}

.auto-roulette-slider.round:before {
  border-radius: 50%;
}

.auto-roulette-text {
  position: absolute;
  right: 55px;
  top: 50%;
  font-size: 13px !important;
  line-height: 22px !important;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.87);
}
