.app {
  /* display: none; */
  background-color: #17171b;
  /* position: absolute; */
  overflow: hidden;
  /* height: 100%; */
  /* top: 0px; */
  bottom: 0px;
  width: 100%;
}

.artist-app {
  display: block;
  background-color: #17171b;
  position: absolute;
  overflow: hidden;
  top: 30px;
  bottom: 0px;
  width: 100%;
}

.transparent-completely-leave-video-chat-button {
  display: none;
}

.room-name-row {
  display: flex;
  height: 30px;
  width: 100%;
  position: relative;
  background-color: #1c1c1c;
  border-top: 1px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}

.public-room {
  display: flex;
  position: relative;
  height: auto;
  width: 20%;
  /* position: absolute; */
  text-align: center;
  font-weight: 500;
  font-size: 0.8rem;
  /* left: 0px;
  top: 50%;
  transform: translateY(-50%); */
  color: rgb(173, 173, 173);
}

.room-tab-text {
  display: flex;
  margin: auto;
}

.room1 {
  color: white;
}

.room-others {
  color: rgb(173, 173, 173);
}
.only-public {
  left: 25%;
}

.private-room {
  height: auto;
  width: 50%;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  font-weight: 500;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(173, 173, 173);
}

.click-active:hover {
  cursor: pointer;
}

.public-video-notice {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  white-space: pre-wrap;
  /* margin-top: 50%; */
  font-size: 0.7rem;
  text-align: center;
  color: rgb(173, 173, 173);
  position: relative;
}

.video-form-input {
  background-color: #17171b;
  border: 1px solid #b7b7b741;
  color: white;
  font-size: 0.9rem;
}

.video-form-input:focus {
  border: 1px solid #b7b7b741;
}
.video-form-input::placeholder {
  font-size: 0.9rem;
  white-space: pre-wrap;
  top: 0px;
}

.enter-video-chat-prompt {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.video-chat-prompt-container {
  display: flex;
  height: 100%;
}

.create-room-name-input {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14)), #07070F;
  border-radius: 5px 5px 0px 0px;
  border: none;
  text-align: center; 
  caret-color: #E465A2;
  font-size: 0.8rem;
  color:rgba(255, 255, 255, 0.87);
}

.create-room-name-input:focus {
  border-bottom: 1px solid #E465A2;
  border-top: none;
  border-left: none;
  border-right: none;
}

.create-room-error {
  font-size: 0.8rem;
  padding: 5px 0px;
  color: #fb5554;
}

.auto-roulette-button {
  height: 30px;
  border: 1px solid #E465A2;
  box-sizing: border-box;
  border-radius: 10px;
  background: transparent;
  color: #E465A2;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  letter-spacing: 0.065em;
}

.auto-roulette-button:active {
  background: #E465A2;
  color: rgba(255, 255, 255, 0.87);
}