@import "../../styles.scss";

// * {
//   box-sizing: border-box;
// }

// JOIN
.join-outer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
  // padding: 25%;
  align-items: center;
  background-color: #1a1a1d;
}

.join-input {
  border-radius: 0;
  padding: 5% 5%;
  width: 100%;
}

.heading {
  color: white;
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  @include respond-to("large") {
    font-size: 1em;
  }
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

// @media (min-width: 320px) and (max-width: 480px) {
//   .join-outer-container {
//     height: 100%;
//   }

//   .join-inner-container {
//     width: 90%;
//   }
// }

button:focus {
  outline: 0;
}

// CHAT
.chat-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1a1a1d;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

// @media (min-width: 320px) and (max-width: 480px) {
//   .chat-outer-container {
//     height: 100%;
//   }

//   .chat-container {
//     width: 100%;
//     height: 100%;
//   }
// }

// @media (min-width: 480px) and (max-width: 1200px) {
//   .chat-container {
//     width: 60%;
//   }
// }

// INFO BAR

.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3d3f42;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.left-inner-container {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.right-inner-container {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.online-icon {
  margin-right: 5%;
}

// CHAT

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 75%;
  font-size: 1.2em;
  @include respond-to("x-large") {
    font-size: 1em;
  }
  @include respond-to("large") {
    font-size: 0.8em;
  }
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.send-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #3d3f42;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 25%;
  @include respond-to("x-large") {
    font-size: 0.7em;
  }
  @include respond-to("large") {
    font-size: 0.4em;
  }
}

.leave-chat-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #8a2626;
  padding: 5px;
  display: inline-block;
  border: none;
  width: 50%;
  @include respond-to("x-large") {
    font-size: 0.7em;
  }
  @include respond-to("large") {
    font-size: 0.4em;
  }
}

// MESSAGES

.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

// MESSAGE

.message-box {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  text-align: left;
}

.message-text {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin-bottom: 0;
  @include respond-to("x-large") {
    font-size: 0.9em;
  }
  @include respond-to("large") {
    font-size: 0.7em;
  }
}

.message-text img {
  vertical-align: middle;
}

.message-container {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sent-text {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  @include respond-to("x-large") {
    font-size: 0.8em;
  }
  @include respond-to("large") {
    font-size: 0.6em;
  }
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.color-white {
  color: white;
}

.color-dark {
  color: #353535;
}

.background-dark {
  background: #3d3f42;
}

.background-light {
  background: #f3f3f3;
}

// TEXT CONTAINER

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
  height: 60%;
  justify-content: space-between;
}

.active-container {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.active-item {
  display: flex;
  align-items: center;
}

.active-container img {
  padding-left: 10px;
}

.text-container h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container {
    display: none;
  }
}
