@import "../../styles.scss";

// JOIN
.join-outer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
  // padding: 25%;
  align-items: center;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
}

.join-chat-grid {
  width: 100%;
  height: 100%;
}

.join-inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.join-input {
  border-radius: 0;

  width: 100%;
  // color: #4d4d4d;
  color: rgba(255, 255, 255, 0.87);
  border: 0;
  margin: auto;

  background-color: #3a3a3d;
}

.join-input-container {
  width: 100%;
  margin-top: 1%;
  // padding: 5% 5%;
}

.heading {
  color: #e2e2e2;
  font-size: 1.3em;
  padding-bottom: 10px;
  letter-spacing: 0;
}

.button {
  color: #fff !important;
  text-transform: capitalize;
  text-decoration: none;
  // border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  letter-spacing: 2px;
  background-color: #303096;
  color: rgba(255, 255, 255, 0.87);
  font-size: 15px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

.mt-20 {
  margin-top: 10%;
}

// @media (min-width: 320px) and (max-width: 480px) {
//   .join-outer-container {
//     height: 100%;
//   }

//   .join-inner-container {
//     width: 90%;
//   }
// }

button:focus {
  outline: 0;
}

// CHAT
.chat-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  position: absolute;
  width: 100%;
  bottom: 0px;
  top: 0px;
  left: 0px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
}

.artist-view {
  bottom: 0px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  min-height: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  flex: auto;
}

// INFO BAR

.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: #757575;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgba(136, 136, 136, 0.38);
  height: 30px;
  width: 100%;
}

.onfour-title {
  height: 29px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  color: #dddddd;
  text-align: left;
  line-height: 30px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  padding-left: 10px;
  letter-spacing: 0.045em;
  @include respond-to("small") {
    padding-left: 5px;
    font-size: 1rem;
  }
  // color: #f3f3f3;
  // font-size: 0.8rem;
  // padding: 5px;
  // margin-top: 25px;
  // font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
    color: rgb(163, 163, 163);
  }
}

.number-of-users {
  color: #f3f3f3;
  font-size: 1rem;
  padding: 5px;
  margin-top: 25px;
  font-weight: 500;
  &:hover {
    cursor: pointer;
  }
}

.info-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-flow: row;
  color: rgba(255, 255, 255, 0.87);
  @include respond-to("small") {
    margin: auto;
  }
}

.chat-header-text {
  display: flex;
  height: 100%;
  width: 100%;

  p {
    // padding: 0px 5px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgba(255, 255, 255, 0.87) !important;
  }
}

.right-inner-container {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
  color: rgba(255, 255, 255, 0.87);
}

.online-icon {
  margin-right: 5%;
}

// CHAT
.text-chat-form {
  display: flex;
  height: 66px;
  border-radius: 0px;
  margin: auto;
  padding: 13px;
  // width: 90%;

  @include respond-to("small") {
    min-height: 50px;
  }
}

.input-container {
  width: 100%;
}

.text-chat-input {
  border: none;
  border-radius: 0;
  padding: 3% 12px;
  width: 70%;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.87);
  @include respond-to("x-large") {
    font-size: 0.9em;
  }
  @include respond-to("large") {
    font-size: 0.75em;
  }
  @include respond-to("small") {
    font-size: 1em;
    padding: 3% 10px;
  }
  @include respond-to("x-small") {
    font-size: 1em;
    padding: 2% 10px;
  }
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    ),
    #07070f;
}

.send-button {
  color: #fff !important;
  text-transform: none;
  text-decoration: none;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    ),
    #07070f;
  padding: 1px;
  display: inline-block;
  border: none;
  letter-spacing: 1px;
  width: 15%;
  @include respond-to("x-large") {
    font-size: 1em;
  }
  @include respond-to("large") {
    font-size: 0.6em;
  }
  @include respond-to("small") {
    font-size: 1em;
  }
}

.leave-chat-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #8a2626;
  padding: 5px;
  display: inline-block;
  border: none;
  width: 50%;
  @include respond-to("x-large") {
    font-size: 0.7em;
  }
  @include respond-to("large") {
    font-size: 0.4em;
  }
}

// MESSAGES

.messages {
  padding: 0% 0;
  overflow: auto;
  flex: auto;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  // scrollbar-width: none; /* Firefox */
  // -ms-overflow-style: none;  /* IE 10+ */
  // &::-webkit-scrollbar {
  //   width: 10px;
  //   background-color: rgba(228, 228, 228, 0.37); /* Chrome/Safari/Webkit */
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: rgba(209, 209, 209, 0.596);
  //   border-radius: 20px;
  // }
}
// MESSAGE

.css-y1c0xs {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(141, 141, 141, 0.596);
    border-radius: 20px;
  }
}

.emoji-mart-scroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(141, 141, 141, 0.596);
    border-radius: 20px;
  }
}

.message-box {
  background: transparent;
  border-radius: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  width: auto;
  max-width: 70%;
  text-align: left;
}

.message-box-admin {
  background: transparent;
  align-items: center;
  // border-radius: 20px;
  padding: 0px 0px;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  max-width: 80%;
  text-align: center;
}

.chat-message-text {
  width: 100%;
  word-wrap: break-word;
  padding: 0px;
  display: flex !important;
  align-items: center;
  color: #f2f2f2;
  margin: 0px !important;
  padding: 0px !important;
  @include respond-to("xx-large") {
    font-size: 0.9em;
  }
  @include respond-to("x-large") {
    font-size: 0.8em;
  }
  @include respond-to("large") {
    font-size: 0.7em;
  }
  @include respond-to("small") {
    font-size: 1em;
  }
}

.message-text img {
  vertical-align: middle;
}

.message-container {
  display: flex;
  justify-content: flex-end;
  padding: 0px 3%;
  vertical-align: text-top;
  margin-top: 2px;
}

.sent-text {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px;
  width: auto;
  height: 21px !important;
  @include respond-to("xx-large") {
    font-size: 0.8em;
  }
  @include respond-to("x-large") {
    font-size: 0.7em;
  }
  @include respond-to("large") {
    font-size: 0.6em;
  }
  @include respond-to("small") {
    font-size: 1em;
  }
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
}

.admin-sent-text {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding: 0px;
  width: auto;
  @include respond-to("xx-large") {
    font-size: 0.8em;
  }
  @include respond-to("x-large") {
    font-size: 0.7em;
  }
  @include respond-to("large") {
    font-size: 0.6em;
  }
  @include respond-to("small") {
    font-size: 1em;
  }
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
}

.fa-send {
  color: #f1f1f3;
}

.pl-10 {
  padding-left: 6px;
}

.pr-10 {
  padding-right: 6px;
}

.justify-start {
  justify-content: flex-start;
}

.justify-middle {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.color-white {
  color: rgba(255, 255, 255, 0.87);
}

.color-dark {
  color: #353535;
}

.background-staff {
  background: #af45db;
}
.background-dark {
  background: #3030968e;
}

.background-light {
  background: #f3f3f3;
}

.background-white {
  background: rgba(255, 255, 255, 0.87);
}

// TEXT CONTAINER

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: rgba(255, 255, 255, 0.87);
  height: 60%;
  justify-content: space-between;
}

.active-container {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.active-item {
  display: flex;
  align-items: center;
}

.active-container img {
  padding-left: 10px;
}

.text-container h1 {
  margin-bottom: 0px;
}

.emoji-button {
  color: #fff !important;
  text-transform: none;
  text-decoration: none;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    ),
    #07070f;
  cursor: pointer;
  border: none;
  letter-spacing: 1px;
  width: 15%;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
}
.fa-smile-o {
  color: #f1f1f3;
}

//emoji-mart custom styles (overridden from emoji-mart stylesheet)
@import "../../../node_modules/emoji-mart/css/emoji-mart.css";
.emoji-mart-preview {
  display: none;
}
.emoji-mart {
  position: absolute;
  width: 100% !important;
  bottom: 50px;
  right: 0px;
  z-index: 2;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container {
    display: none;
  }
}

.tooltip-text {
  //font-size: 1rem;
  margin: auto;
}

.chat-header {
  margin: auto;
}

.username-color-0 {
  color: #d1ae53 !important;
}

.username-color-1 {
  color: #49bdfe !important;
}

.username-color-2 {
  color: #04adc0 !important;
}

.username-color-3 {
  color: #e26a6a !important;
}

.username-color-4 {
  color: #bf8af4 !important;
}
