@import "../../styles.scss";

// * {
//   box-sizing: border-box;
// }

// JOIN
.join-outer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: auto;
  // padding: 25%;
  align-items: center;
  background-color: #171717;
}

.join-chat-grid {
  width: 100%;
  height: 100%;
}

.join-inner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.join-input {
  border-radius: 0;

  width: 100%;
  // color: #4d4d4d;
  color: white;
  border: 0;
  margin: auto;

  background-color: #3a3a3d;
}

.join-input-container {
  width: 100%;
  margin-top: 1%;
  // padding: 5% 5%;
}

.heading {
  color: #e2e2e2;
  font-size: 1.3em;
  padding-bottom: 10px;
  letter-spacing: 0;
}

.button {
  color: #fff !important;
  text-transform: capitalize;
  text-decoration: none;
  // border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  letter-spacing: 2px;
  background-color: #303096;
  color: white;
  font-size: 15px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 0px;
}

.mt-20 {
  margin-top: 10%;
}

// @media (min-width: 320px) and (max-width: 480px) {
//   .join-outer-container {
//     height: 100%;
//   }

//   .join-inner-container {
//     width: 90%;
//   }
// }

button:focus {
  outline: 0;
}

// CHAT
.chat-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #757575;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #17171b;
  min-height: 0;
  height: 100%;
  max-height: 100%;
  width: 100%;
  flex: auto;
}

// INFO BAR

.info-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // background: #757575;
  background: #17171b;
  border-radius: 4px 4px 0 0;
  height: 40px;
  width: 100%;
}

.onfour-title {
  color: #f3f3f3;
  font-size: 1rem;
  padding: 5px;
  margin-top: 25px;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
    color: rgb(163, 163, 163);
  }
}

.number-of-users {
  color: #f3f3f3;
  font-size: 1rem;
  padding: 5px;
  margin-top: 25px;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
  }
}

.info-container {
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: row;
  color: white;
  margin: auto;
}

.chat-header-text {
  display: flex;
  height: 100%;
  width: 100%;

  p {
    padding: 0px 5px;
    margin-bottom: 0;
    margin-top: 10px;
  }
}

.right-inner-container {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
  color: white;
}

.online-icon {
  margin-right: 5%;
}

// CHAT
.form {
  display: flex;
  border-radius: 10px;
  @include respond-to("small") {
    min-height: 50px;
  }
}

.input {
  border: none;
  border-radius: 0;
  padding: 3% 12px;
  width: 90%;
  font-size: 1.2em;
  color: white;
  @include respond-to("x-large") {
    font-size: 1em;
  }
  @include respond-to("large") {
    font-size: 0.8em;
  }
  @include respond-to("small") {
    font-size: 1em;
    padding: 3% 10px;
  }
  @include respond-to("x-small") {
    font-size: 1em;
    padding: 2% 10px;
  }
  background-color: #3a3a3d;
}

.send-button {
  color: #fff !important;
  text-transform: none;
  text-decoration: none;
  background: #3a3a3d;
  padding: 1px;
  display: inline-block;
  border: none;
  letter-spacing: 1px;
  width: 18%;
  @include respond-to("x-large") {
    font-size: 1em;
  }
  @include respond-to("large") {
    font-size: 0.4em;
  }
  @include respond-to("small") {
    font-size: 1em;
  }
}

.leave-chat-button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #8a2626;
  padding: 5px;
  display: inline-block;
  border: none;
  width: 50%;
  @include respond-to("x-large") {
    font-size: 0.7em;
  }
  @include respond-to("large") {
    font-size: 0.4em;
  }
}

// MESSAGES

.messages {
  padding: 0% 0;
  overflow: auto;
  flex: auto;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
  // scrollbar-width: none; /* Firefox */
  // -ms-overflow-style: none;  /* IE 10+ */
  // &::-webkit-scrollbar {
  //   width: 10px;
  //   background-color: rgba(228, 228, 228, 0.37); /* Chrome/Safari/Webkit */
  // }
  // &::-webkit-scrollbar-thumb {
  //   background: rgba(209, 209, 209, 0.596); 
  //   border-radius: 20px;
  // }
}
// MESSAGE


.css-y1c0xs {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(141, 141, 141, 0.596); 
    border-radius: 20px;
  }
}

.message-box {
  background: #f3f3f3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
  text-align: left;
  @include respond-to("small") {
    max-width: 60%;
    border-radius: 12px;
    padding: 5px 12px;
  }
}

.message-box-admin {
  background: #f3f3f3;
  align-items: center;
  border-radius: 20px;
  padding: 0px 0px;
  color: white;
  display: inline-block;
  max-width: 80%;
  text-align: center;
  @include respond-to("small") {
    max-width: 60%;
    border-radius: 12px;
  }
}

.message-text {
  max-width: 20em;
  word-wrap: break-word;
  letter-spacing: 0;
  font-size: 1.1em;
  margin-bottom: 0;
  @include respond-to("x-large") {
    font-size: 0.9em;
  }
  @include respond-to("large") {
    font-size: 0.7em;
  }
  @include respond-to("small") {
    font-size: 1em;
  }
}

.message-text img {
  vertical-align: middle;
}

.message-container {
  display: flex;
  justify-content: flex-end;
  padding: 1% 3%;
  margin-top: 2px;
}

.sent-text {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #f2f2f2;
  letter-spacing: 0.3px;
  margin-bottom: 0;
  @include respond-to("x-large") {
    font-size: 0.8em;
  }
  @include respond-to("large") {
    font-size: 0.6em;
  }
  @include respond-to("small") {
    font-size: 1em;
  }
  background-color: #17171b;
}

.fa-send {
  color: #f1f1f3;
}

.pl-10 {
  padding-left: 6px;
}

.pr-10 {
  padding-right: 6px;
}

.justify-start {
  justify-content: flex-start;
}

.justify-middle {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.color-white {
  color: white;
}

.color-dark {
  color: #353535;
}

.background-staff {
  background: #af45db;
}
.background-dark {
  background: #3030968e;
}

.background-light {
  background: #f3f3f3;
}

.background-white {
  background: white;
}

// TEXT CONTAINER

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
  height: 60%;
  justify-content: space-between;
}

.active-container {
  display: flex;
  align-items: center;
  margin-bottom: 50%;
}

.active-item {
  display: flex;
  align-items: center;
}

.active-container img {
  padding-left: 10px;
}

.text-container h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .text-container {
    display: none;
  }
}

.tooltip-text {
  font-size: 1rem;
}
