.call {
  /* position: relative; To make it a "positioned" container so children layout works */
  height: calc(100% - 86px); /* Space for the tray */
  /* display: flex; */
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.call::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
}
.call::-webkit-scrollbar-thumb {
  background: rgba(141, 141, 141, 0.596);
  border-radius: 20px;
}

.artist-call {
  /* position: relative; */
  height: calc(100% - 30px);
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.artist-call::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
}
.artist-call::-webkit-scrollbar-thumb {
  background: rgba(141, 141, 141, 0.596);
  border-radius: 20px;
}

.large-tiles {
  height: calc(100% - 132.5px);
  width: 80%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  align-items: center;
  overflow-y: scroll;
}

.small-tiles {
  /* height: auto; Video height + 10px padding either side */
  /* width: 80%; */
  /* display: flex; */
  /* position: absolute; */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.artist-small-tiles {
  /* height: 100%; 
  width: 100%;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}

.artist-small-tiles-wide {
  /* height: 100%; 
  width: 100%;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}
