.tray {
  flex: none;
  height: 30px;
  background-color: #17171b;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.artist-mute-all-button {
  font-size: 0.7rem;
  margin-left: 20px;
  border-radius: 2px;
  height: 25px;
  padding: 0px 10px;
  background-color: #3a3a3d;
}

.range-slider__wrap {
    position: relative;
    /* display: block; */
    display: inline-flex;
    left: -6px;
    height: calc(1.5em + 0.75rem + 2px);
    width: 80px;
}

.range-slider--primary {
  height: 100% !important;
  padding: 0px !important;
}

.volume-container {
  position: relative;
  display: inline-flex;
}

.volume-container:hover .volume-slider{
  opacity: 100;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.volume-container:hover:after .volume-slider {
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}

.volume-slider {
  opacity: 0;
  height: 30px !important;
  padding: 0px 0 !important;
}

.volume-icon:hover {
  cursor: pointer;
}
.tray-icon-row {
  display: flex;
  flex-direction: row;
}

/* .new-tray-button {
  width: 48px;
  height: 30px;
  color: white;
  z-index: 10;
} */

.unmuted {
  color: white;
}

.muted {
  color: #fb5554;
}