// STREAM COMPONENT STYLING
@import "../../styles";

.stream-container {
  // height: calc(100vh - 49px);
  max-height: calc(100vh - 49px);
  // width: 100vw;
  max-width: 100vw;
  @include respond-to("small") {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
  }
}

.stream-page-content {
  //margin-top: -1px;
  background-color: #07070f;
  //height: auto;
  height: 100%;
  width: 100%;
  @include respond-to("small") {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
  }
}

.desktop-stream-grid {
  height: 100%;
  width: 100%;
}

.desktop-stream-row {
  height: 100%;
  width: 100%;
}

.mobile-grid-stream {
  display: inline;
  @include respond-to("small") {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
  }
}

.sticky-container {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-left: 3px solid #07070f;
}

.payment-row-mobile {
  flex: 0 1;
  height: 60px;
  display: flex;
}

.chat-row-mobile {
  flex-flow: column;
  flex: 1 0 auto;
  overflow-y: auto;
}

// CHAT STYLING
.chat-main {
  height: calc(-49px + 100vh);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
}

.main-column {
  max-width: 100%;
  min-width: 0;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.chat-column {
  max-width: 100%;
  min-width: 0;
  max-height: 100%;
  min-height: 0;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
}

.video-chat-row {
  height: 60%;
  width: 100%;
  position: relative;
  border-bottom: 3px solid #07070f;
}

.chat-row {
  // height: 100%;
  height: 40%;
  width: 100%;
  position: relative;
}

.chat-main-mobile {
  height: calc(100vh - 123px - (100vw * 0.5625));
  max-height: calc(100vh - 123px - (100vw * 0.5625));
  // height: 400px;
  display: flex;
  flex-flow: column;
  // flex: 1 1 auto;
  overflow-y: auto;
  flex-grow: 1;
  // height: 60vh;
  min-width: 0;
  max-width: 100vw;
  // position: relative;
  justify-content: center;
  align-items: center;
  // height: 100%;
  // // overflow: hidden;
  // display: flex;
  // flex: 1;

  // @media only screen and (max-height: 750px) {
  //   height: 300px;
  // }
  // @media only screen and (max-height: 700px) {
  //   height: 300px;
  // }
  // @media only screen and (max-height: 680px) {
  //   height: 250px;
  // }
  // @media only screen and (max-height: 650px) {
  //   height: 230px;
  // }
  // @media only screen and (max-height: 580px) {
  //   height: 150px;
  // }
}

.toggle-chat {
  position: absolute;
  right: -3px;
  z-index: 2;
}

.toggle-description {
  position: absolute;
  left: 0px;
  bottom: -3px;
  z-index: 2;
}

.toggle-chat-button {
  border-radius: 5px 0px 0px 5px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  padding: 3px;
  font-weight: bolder;
}

.toggle-description-button {
  border-radius: 0px 5px 0px 0px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  padding: 0px 8px;
  font-weight: bolder;
}

.fa-chevron-right {
  margin-left: 2px;
  color: #dadada;
  &:hover {
    color: #ea91bd;
  }
}

.fa-chevron-left {
  margin-left: 2px;
  color: #dadada;
  &:hover {
    color: #ea91bd;
  }
}

.fa-chevron-down {
  margin-top: 2px;
  color: #dadada;
  &:hover {
    color: #a6aafb;
  }
}

.fa-chevron-up {
  margin-top: 2px;
  color: #dadada;
  &:hover {
    color: #a6aafb;
  }
}

.chat-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  // padding-left: 3%;
  // margin: auto;
}

.chat-wrapper-mobile {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  // margin: auto;
}

.payment-modal-grid {
  background-color: transparent;
  height: 20%;
  border-bottom: 2px solid rgba(136, 136, 136, 0.38);
}

.payment-modal-header {
  height: 50%;
  width: 100%;
}

.payment-modal-header-text {
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.045em;
  margin-top: 23px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.payment-modal-tab {
  display: flex;
  cursor: pointer;
  margin-bottom: -2px;
}

.payment-modal-tab.selected-tab {
  border-bottom: 3px solid #e465a2;
}

.payment-modal-tab-text {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.28) !important;
  @include respond-to("small") {
    margin-bottom: 5px;
  }
}

.payment-modal-tab-text.selected-tab {
  color: rgba(255, 255, 255, 0.87) !important;
  margin-bottom: 12px;
  @include respond-to("small") {
    margin-bottom: 3px;
  }
}

// STREAM VIDEO STYLING
.stream-main {
  position: relative;
  // height: 100%;
  width: 100%;
  height: calc(100vh - 103px - 49px);
  // margin-top: 3%;
  // margin-right: 0.5%;
}

.stream-main-mobile {
  width: 100%;
  height: auto;
  padding-bottom: 56.25%;
}

.stream-wrapper {
  margin: auto;
  background: #131313;
  width: 100%;
  height: 100%;
  // border-bottom: 3px solid black;
  // height: 100%;
  // height: 41.4473684vw;
  // width: auto;
  //padding-bottom: 56.25%; /* 16:9 */
  position: relative;
  // @include respond-to("small") {
  //   width: 100vh;
  //   height: auto;
  // }
}

.stream-info-wrapper {
  width: 100%;
  height: 100px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  border-top: 3px solid #07070f;
}

.stream-wrapper-mobile {
  width: 100%;
  position: absolute;
  padding-bottom: 56.25%;
}

.buy-ticket-message-container {
  height: 100%;
  width: 100%;
  @include respond-to("small") {
    width: 100%;
    position: relative;
    padding-bottom: 55%;
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.08),
        rgba(255, 255, 255, 0.08)
      ),
      #07070f;
  }
}

.buy-ticket-message-inner {
  height: auto;
}

.buy-ticket-message-inner-top {
  width: 60%;
  position: absolute;
  //height: 20vh;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  @include respond-to("small") {
    width: 100%;
    top: 30%;
  }
}

.buy-ticket-message-row {
  height: 100%;
  width: 100%;
}

.ticket-img-col {
  width: 100%;
  height: 100%;
  position: relative;
}

.buy-ticket-img {
  width: 8vw;
  position: relative;
  //top: 50%;
  //transform: translateY(-50%);
  @include respond-to("small") {
    width: 15vw;
  }
}

.buy-ticket-text-col {
  display: flex;
  align-items: center;
}

.buy-ticket-text-container {
  display: flex;
  position: relative;
  flex-direction: column;
  //margin: auto;
}

.buy-ticket-text {
  font-size: 1.6vw;
  color: white;
  white-space: pre-wrap;
  position: relative;
  text-align: left;
  float: left;
  padding-left: 0;
  //top: 60%;
  //transform: translateY(-60%);
  @include respond-to("small") {
    font-size: 4vw;
    margin-bottom: 0;
    //top: 50%;
    //transform: translateY(-50%);
  }
}
.buy-ticket-redirect-button {
  position: absolute;
  font-size: 1.1rem;
  bottom: 40%;
  background-color: #794d94;
  font-weight: bold;
  border-radius: 3px;
  left: 50%;
  transform: translate(-50%, 40%);
  &:hover {
    background-color: #976bb3;
  }

  @include respond-to("large") {
    font-size: 0.9rem;
    bottom: 35%;
    transform: translate(-50%, 35%);
  }
  @include respond-to("medium") {
    font-size: 0.8rem;
    bottom: 30%;
    transform: translate(-50%, 30%);
  }
  @include respond-to("small") {
    font-size: 4vw;
    //width: 30%;
    bottom: 30%;
    transform: translate(-50%, 30%);
  }
}

.player-wrapper {
  display: inline-block;
  position: relative;
  // padding-bottom: 56.25%; /* 16:9 */
  width: 100%;
  height: 100%;
  @include respond-to("small") {
    //padding-bottom: 56.25%; /* 16:9 */
    height: 100%;
  }
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
}

.payment-container {
  display: contents;
}

.donate-title {
  font-size: 25px;
  font-weight: $medium-weight;
  color: white;
  text-align: left;
  margin-left: 80px;
  margin-top: 5%;
}

.donate-description {
  font-size: 19px;
  font-weight: $medium-weight;
  color: white;
  margin-bottom: 0.5rem;
}

.donate-subdescription {
  color: white;
}

.stream-subscribe-box {
  background-color: #1b1b1b;
  padding: 4% 3%;
}

.stream-subscribe-title {
  font-size: 25px;
  font-weight: $medium-weight;
  color: #cacaca;
  text-align: left;
  margin-bottom: 0.5rem;
}
.stream-subscribe-description {
  font-size: 17px;
  font-weight: $medium-weight;
  color: #cacaca;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.adjust-font-size {
  font-size: 100%;
}

.stream-email-form {
  // display: inline-block;
  float: left;
  width: 80%;
}

.social-bar-center {
  float: right;
  margin-top: 2px;
}

.stream-email-col {
  margin-left: 10%;
  margin-top: 3%;
}

.stream-page-email {
  width: 80%;
}

.stream-page-email-button {
  width: 20%;
}

.stream-info-row {
  // padding-left: 10px;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
}

.buttons-row {
  height: 45px;
  padding: 0px 29px 0px 32px;
  // border-radius: 4px 4px 0 0;
  // border-bottom: 1px solid #454242;
}

.artist-bio-row {
  // padding-top: 1%;
  //height: 60%;
  display: none !important;
}

.artist-bio-row-expanded {
  height: 194px;
}

.bottom-buttons-row {
  // border-radius: 4px 4px 0 0;
  border-top: 1px solid #454242;
  height: 55px;
  padding: 0px 29px 0px 32px;
}

.artist-name-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.artist-name-stream {
  //display: flex;
  font-size: 1.4rem;
  //margin: 5px;
  //margin-top: 10px;
  letter-spacing: 1px;
  //float: left;
  font-weight: $medium-weight;
  color: white;
  text-align: left;
  margin-bottom: 0;
}

.viewers {
  display: flex;
  width: auto;
  height: 100%;
  align-items: center;
  //margin-right: 2%;
  //float: right;
  //margin-right: 5px;
  //margin-top: 5px;
  //position: absolute;
  //right: 0;
}

.viewers-mobile {
  display: flex;
  width: auto;
  height: 30px;
  align-items: center;
  position: absolute;
  top: 6px;
  left: 10px;
  z-index: 10;
}

// .viewer-count {
//   //width: 150px;
//   font-size: 0.9rem;
//   letter-spacing: 0.04em;
//   color: white;
//   text-align: left;
//   width: 100%;
//   font-weight: $medium-weight;
//   //padding-right: 2%;
// }

.share-button {
  position: relative;
  display: flex;
  // float: right;
  width: auto;
  border-radius: 4px;
  background-color: white;
  color: #07070f;
  // margin-right: 50%;
  //margin-top: 5px;
  cursor: pointer;
}

// .share-text:hover {
//   text-decoration: underline;
//   // text-decoration-color: #e2e2e2;
// }

.share-popup {
  top: 0;
  margin-top: 0;
}

.share-popup-content {
  background-color: yellow;
}

.stream-info {
  // display: flex;
  // right: 0;
  // position: absolute;
  // width: 100%;
}
.stream-artist-bio-container {
  overflow-y: auto;
  //padding-top: 2%;
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(141, 141, 141, 0.596);
    border-radius: 20px;
  }
}

.stream-artist-bio {
  text-align: justify;
  white-space: pre-line;
}

.stream-share-row {
  position: relative;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  // margin-left: 20%;
}

.viewers-container {
  display: flex;
  align-items: center;
}

.stream-action-viewers {
  height: 24px;
  width: 24px;
}

.viewer-count {
  color: $on-background;
  margin-left: 8px;
  margin-right: 11px;
}

.stream-action-feedback {
  height: 18px;
  width: 18px;
  margin-right: 11px;
}

.stream-action-share {
  height: 24px;
  width: 24px;
}

.stream-action-button-container {
  display: flex;
  align-items: center;
}

.stream-action-donate-container {
  display: flex;
  margin-left: auto;
  vertical-align: middle;
}

.stream-donate-button {
  height: 33px !important;
  width: 104px !important;
  &:disabled {
    background: rgba(255, 255, 255, 0.6) !important;
    cursor: initial;
  }
}

.donate-button-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stream-action-button {
  position: relative;
  display: flex;
  border-radius: 4px;
  background-color: white;
  color: #07070f;
  width: 104px;
  height: 33px;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.09em;
  font-weight: bold;
  line-height: 0.7rem;
}

.donate-stream-button {
  background-color: #794d94;
  color: white;
}

.donate-stream-button i {
  color: white;
}

.stream-action-button-text {
  height: 100%;
  font-size: 0.7rem;
  padding-left: 15%;
  letter-spacing: 0.09em;
  font-weight: bold;
  float: left;
  line-height: 0.7rem;
  // padding: 5px;
  text-align: right;
  margin: auto;
  display: flex;
}

.stream-action-button-icon {
  color: #07070f;
  padding-right: 10%;
}

.social-media-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.social-list {
  height: 100%;
}

.social-list [class*="fa fa-"] {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 27px;
  color: #07070f;
  display: inline-block;
  height: 27px;
  line-height: 27px;
  margin: auto;
  width: 27px;
  font-size: 18px;
  text-align: center;
  &:hover {
    background: $secondary-color;
    color: #07070f;
  }
}

.social-list [class*="fas fa-"] {
  background: rgba(255, 255, 255, 0.87);
  border-radius: 27px;
  color: #07070f;
  display: inline-block;
  height: 27px;
  line-height: 27px;
  margin: auto;
  width: 27px;
  font-size: 16px;
  text-align: center;
  &:hover {
    background: $secondary-color;
    color: #07070f;
  }
}

.social-list li {
  color: white;
  margin: auto 11.5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.social-list li a {
  display: flex;
  //font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.87);
  height: 27px;
  width: 27px;
  font-size: 27px;
  &:hover {
    color: $secondary-color;
  }
}

.social-list li span {
  display: flex;
  font-size: 1.5rem;
  color: white;
}

.feedback-container {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 1rem;
  a {
    display: flex;
    height: 100%;
    margin-left: auto;
    margin-right: 1%;
    align-items: center;
    text-align: right;
  }
}

.feedback-link {
  color: white;
  font-size: 0.8rem;
  letter-spacing: 0.045em;
  line-height: 0.8rem;
  text-align: right;
  margin-bottom: 0;
}

.feedback-link:hover {
  text-decoration: underline;
}

.inline-form {
  display: flex;
}

.inline-form button {
  margin: 0px 2px;
  padding: 0px 10px;
}

.waiting_banner-container {
  width: 100%;
}

.waiting_banner-container img {
  width: 100%;
  object-fit: cover;
}

// Waiting Screen
.countdown-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  @include respond-to("small") {
    position: inherit;
  }
}

.waiting-screen {
  width: 100%;
  height: 100%;
  //padding-bottom: 56.25%; /* 16:9 */
  // background: linear-gradient(
  //     240.7deg,
  //     #8c4fdc 1.46%,
  //     rgba(255, 255, 255, 0) 96.73%
  //   ),
  //   #497be0;
  // background: linear-gradient(252.83deg, #E465A2 2.45%, #7BB3D3 96.72%), #C4C4C4;
  background: linear-gradient(252.83deg, #ea91bd 2.45%, #a6aafb 96.72%), #c4c4c4;
}

.waiting-for-artist-screen {
  width: 100%;
  // height: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  background-color: #1b1b1b;
  position: relative;
  @include respond-to("small") {
    height: 220px;
  }
}

.not-live-loader {
  width: 40px;
  margin: 0 auto;
}

.artist-image {
  width: 5vw;
  height: 5vw;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  @include respond-to("small") {
    width: 11.5vh;
    height: 11.5vh;
  }
}

.countdown-component-wrapper {
  margin: 0;
  position: absolute;
  padding: 4px 8px 4px 8px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e7281e;
  @include respond-to("small") {
    top: 75%;
  }
}

.timer-block {
  padding-left: 5px;
  padding-right: 5px;
}

.timer-number {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  height: 25px;
}

.timer-label {
  font-size: 8px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 7px;
  height: 8px;
}

.parentDisable {
  background: #07070f;
  z-index: 998;
  padding-top: 20vh;
  height: calc(-53px + 100vh);
  width: 100%;
}

.overlay-box {
  background: #07070f;
  padding-top: 40vh;
  height: calc(-49px + 100vh);
  width: 100%;
  @include respond-to("small") {
    height: 100vh;
  }
}

.waiting-message-container {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include respond-to("small") {
    top: 30%;
    transform: translate(-50%, -30%);
  }
}

.waiting-message1 {
  color: white;
  @include respond-to("small") {
    font-size: 20px;
  }
}

.waiting-message2 {
  color: white;
  font-weight: lighter;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  @include respond-to("small") {
    font-size: 13px;
  }
}
.popup-desktop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 35vh;
  z-index: 10;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  @include respond-to("small") {
    display: none;
  }
}

.popup-mobile {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 10;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  @include respond-to("small") {
    display: inline;
  }
}

.waiting-msg-box {
  background-color: whitesmoke;
  width: 100%;
  max-width: 450px;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgb(238, 237, 237);
}

.waiting-msg {
  color: #636363;
}

.popup-close {
  padding: 3%;
  float: right;
  filter: invert(75%);
  &:hover {
    cursor: pointer;
  }
}

.popup-header {
  font-size: 1.25rem;
}

.popup-content {
  margin-top: 3%;
  width: 100%;
  padding: 20px 40px 20px 40px;
}

.donate-row-buttons {
  margin-top: -1px;
}

.donate-stripe {
  background-color: #62628c;
}

.donate-paypal {
  background-color: #979bbb;
}

.donate-venmo {
  background-color: #846eac;
}

.donate-box {
  padding: 5% 3% 0% 3%;
}

.donate-box-button {
  padding: 1% 3% 2% 3%;
  @include respond-to("small") {
    padding-left: 0;
    padding-right: 0;
  }
}

.venmo-code {
  // max-width: 125px;
  // margin-top: -3%;
  // padding-bottom: 3%;
  // padding-top: 3%;
}

.mobile-payment-button {
  margin: 11px 8px;
  background: #e465a2;
  border-radius: 4px !important;
  padding: 0px !important;
  color: #000000 !important;
  &:hover {
    background: #ea91bd !important;
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.6) !important;
    cursor: initial;
  }
}

.stripe-button-border {
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgb(83, 82, 82);
  font-weight: $medium-weight;
  letter-spacing: 0.4px;
  width: 100%;
  @include respond-to("small") {
    box-shadow: none;
  }
}

.social-bar-mobile {
  margin-top: 5%;
}

.main-content-mobile-stream {
  padding: 5%;
  padding-bottom: 0;
}

// .modal-backdrop {
//   z-index: -1;
// }

.controll-toolbar-button {
  font-size: 1.6rem;
  color: white;
  // padding: 10px;
  position: absolute;
  left: 50%;
  // border-radius: 3px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.button-video-camera {
  background-color: #47c8c0;
}

.button-commenting-o {
  background-color: #9240b9;
}

.button-glass {
  background-color: #5d5ad4;
  display: none;
}

.button-heart {
  background-color: #7bc6de;
  display: none;
}

.button-hand-rock-o {
  background-color: #b14092;
  display: none;
}

.button-smile-o {
  background-color: #609fda;
  display: none;
}

.selected-circle {
  color: white;
}

.controll-toolbar-row {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.08),
      rgba(255, 255, 255, 0.08)
    ),
    #07070f;
  border-top: 1px solid #07070f;
  height: 70px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  /* display: flex; */
  padding: 0px 8px 0px 8px;
}

.controll-toolbar-col {
  padding: 0px 0.1vw;
}

.controll-toolbar-button-container {
  position: relative;
  padding-top: 100%;
  border-radius: 10%;
  top: 50%;
  transform: translateY(-50%);
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.video-chat-main {
  display: none;
}

.no-show-waiting-msg {
  white-space: pre-wrap;
}

.mobile-no-show-waiting-msg {
  white-space: pre-wrap;
  line-height: 18px !important;
}

.ivs-video {
  width: 100%;
  height: 100%;
}
