@import "../../styles.scss";

.input-two:focus ~ .floating-label-two,
.input-two:not(:focus):valid ~ .floating-label-two,
.input-two[type="email"]:not([value=""]) ~ .floating-label-two {
  top: -4.5px;
  left: 15px;
  opacity: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 9px;
  line-height: 11px !important;
  letter-spacing: 0.045em;
  background: #07070F;
  padding: 0px 4px;
  color: $primary-color !important;
  @include respond-to("small") {
    top: -4px;
    font-size: 8px;
    line-height: 10px !important;
    left: 13px;
  }
}

.input-two:focus:valid ~ .floating-label-two {
  color: $primary-color;
}

.input-two:not(:valid) ~ .floating-label-two {
  color: $on-surface-disable;
}

.input-two[type="email"]:not([value=""]):not(:valid) {
  border: 2px solid $error-color;
  caret-color: $error-color;
}

.input-two[type="email"]:not([value=""]):not(:valid) ~ .floating-label-two {
  color: $error-color !important;
}

.register-input-container {
  margin-bottom: 19px;
  @include respond-to("small") {
    margin-bottom: 17px;
  }
}

.input-two-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.password-input-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.view-password {
  position: absolute;
  right: 14px;
  height: 15px;
  width: 22px;
  top: 22px;
  cursor: pointer;
  &:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
  }
  @include respond-to("small") {
    top: 16px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px black inset !important; /* Change the color to your own background color */
  -webkit-text-fill-color: white;
}

.input-two {
  width: 100%;
  min-height: 56px;
  background:#07070F;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  caret-color: $primary-color;
  &:focus {
    border: 2px solid $primary-color;
  }
  &:focus::placeholder {
    color: transparent;
  }
  @include respond-to("small") {
    min-height: 45px;
    padding-left: 18px;
  }
}

.floating-label-two {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  opacity: 0;
  transition: 0.2s ease all;
  color: $on-surface-disable;
  @include respond-to("small") {
    left: 18px;
  }
}