// STREAM COMPONENT STYLING
@import "../../styles";

.countdown-timer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  @include respond-to("small") {
    position: inherit;
    margin-bottom: 75px;
    margin-top: 10px;
  }
}

.countdown-timer-component-wrapper {
  margin: 0;
  position: relative;
  // padding: 4px 8px 4px 8px;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // background: #e7281e;
}

.countdown-timer-block {
  // padding-left: 5px;
  //padding-right: 10px;
}

.countdown-timer-number {
  // color: white;
  // font-size: 2.5rem;
  // font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  // line-height: 3rem;
  // height: 40px;
  // @include respond-to("small") {
  //   height: 1.5rem;
  //   line-height: 1.5rem;
  //   font-size: 1.5rem;
  // }
}

.countdown-timer-label {
  margin-top: 10px;
  // font-size: 0.8rem;
  // color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  // line-height: 7px;
  // height: 8px;
  @include respond-to("small") {
    margin-top: 2px;
    // height: 0.6rem;
    // line-height: 0.6rem;
    // font-size: 0.6rem;
  }
}
