// UPCOMING SHOW COMPONENT STYLING

@import "../../styles";

.upcoming-show-page-content {
  background-color: black;
  margin-top: -1px;
  min-height: 62vh;
}

.upcoming-show-grid {
  background: black;
  padding-left: 3%;
  padding-right: 3%;
  @include respond-to("small") {
    padding-left: 4%;
    padding-right: 4%;
  }
}

.column-in-center {
  float: none;
  margin: 0 auto;
}

.centered-row {
  align-items: center;
}

.single-element {
  height: 100%;
  width: 100%;
  position: relative;
}

.featured-content {
  background-color: white;
  margin: 5% 3% 5% 3%;
  position: relative;
  // float: none;
  // display: table-cell;
  // vertical-align: top;
  height: 90%;
  &:hover {
    // background:rgba(49, 49, 49, 0.322);
    color: #fff;
    opacity: 0.25;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    cursor: pointer;
    .RSVP {
      z-index: 50;
    }
  }
  &:hover:after {
    opacity: 1;
    .RSVP {
      z-index: 0;
    }
  }

  @include respond-to("small") {
    &:hover {
    opacity: 1;
    }
    .RSVP {
      z-index: 0;
    }
  }
}

.RSVP {
  // margin: 0;
  // position: absolute;
  // top: 50%;
  // -ms-transform: translateY(-50%);
  // transform: translateY(-50%);
  // width: 100%;
  // z-index: 0;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.RSVP-text {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.poster-container {
  position: relative;
  width: 100%;
  height: 17vw;
  @include respond-to("small") {
    height: 27vh;
  }
}

.concert-poster {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.featured-header {
  margin-top: 50px;
  height: 50px;
  vertical-align: middle;
  display: grid;
  padding: 2%;
  // color: #e2e2e2;
}

.show-content-bar {
  max-width: 100%;
  height: 100%;
}

.genre-box {
  background-color: black;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  padding: 1px 10px 1px 10px;
  @include respond-to("small") {
    margin-left: 5px;
    margin-top: 7px;
  }
}

.artist-name {
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // display: inherit;
  // width:300px;
  font-size: 90%;
  font-weight: bold;
  color: #1b1b1b;
  text-align: left;
  margin-top: 8px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
  vertical-align: text-top;
  font-family: "Heebo", sans-serif;
  @include respond-to("small") {
    font-size: 100%;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: 5px;
    margin-bottom: 30px;
  }
}

// .date {
//   font-size: 85%;
//   font-weight: $medium-weight;
//   color: #1b1b1b;
//   text-align: left;
//   margin-top: 1%;
//   margin-bottom: 10px;
//   margin-left: 10px;
//   font-family: "Heebo", sans-serif;
//   @include respond-to("small") {
//     // font-size: 60%;
//     margin-left: 5px;
//     margin-bottom: 7px;
//   }
// }

.time {
  // font-size: 80%;
  font-size: 12px;
  font-weight: $medium-weight;
  color: #1b1b1b;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Heebo", sans-serif;
  @include respond-to("small") {
    // font-size: 80%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
  }
}

.time-row {
  position: absolute;
  bottom: 0px;
}

.featured-content-button-border {
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgb(83, 82, 82);
  font-weight: $medium-weight;
  letter-spacing: 0.4px;
  height: 48px;
  width: 100%;
  &:hover {
    background-color: #303096dc;
    text-decoration: "none";
  }
}

.free-concert {
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgb(83, 82, 82);
  font-weight: $medium-weight;
  letter-spacing: 0.4px;
  height: 48px;
  width: 100%;
}

.ticket {
  position: absolute;
  bottom: 0;
  width: 100%;
  // bottom: 0px;
}


.poster-tag {
  position: absolute;
  text-align: left;
  width: 5%;
  margin-left: 15px;
  margin-top: 15px;
  @include respond-to("small") {
    margin-left: 4px;
    margin-top: 10px;
  }
}

.genre-tag {
  position: absolute;
  text-align: center;
  width: auto;
  background-color: #303096;
  // background-color: black;
  font-size: 100%;
  font-weight: bold;
  color: rgb(255, 255, 255);
  right: 10px;
  top : 15px;
  padding: 0px 5px 0px 5px;
  @include respond-to("small") {
    top: 10px;
    right: 5px;
  }
}
.poster-text {
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

a.nav-page-white {
  margin: 10px;
  color: white;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: "none";
  }
  &:active {
    color: white;
    text-decoration: "underline";
  }
}

.header-text {
  margin: auto;
  color: #e2e2e2;
}

.line-divider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  height: 0.2px;
  margin-top: 100px;
}

.icon {
  width: 40%;
}

.search-box {
  background: white;
  border-color: black;
  height: 40px;
  border: 1px;
  padding: 10px;
}

.search-btn {
  color: white;
  width: 40px;
  height: 40px;
  background: black;
}

.search-txt {
  border: none;
  background: none;
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 40px;
  width: 240px;
}

.form-spacer {
  height: 16px;
}

.subscribe-description {
  font-size: 17px;
  font-weight: $medium-weight;
  color: #636363;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e2e2e2;
}

.success-message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-input-upcoming {
  width: 280px;
  color: black;
}

.concert-form {
  background-color: white;
  width: 70vw;
  height: 80vh;
  padding: 2vh 2vw 2vh 2vw;
  border: none;
  // border-radius: 5px;
  // box-shadow: 0px 3px 5px rgb(238, 237, 237);
  overflow: auto;
  @include respond-to("small") {
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 2vh 2vw 2vh 2vw;
  }
}

.popup-artist-info {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 10vh;
  z-index: 10;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  @include respond-to("small") {
    padding-top: 0vh;    
  }
}

.popup-info-close {
  // padding: 3%;
  float: right;
  position: relative;
  z-index: 1;
  filter: invert(75%);
  &:hover {
    cursor: pointer;
  }

  @include respond-to("small") {
    filter: invert(0%);  
    font-size: 25px; 
    margin-right: 15px;
  }

}

.popup-info-content {
  // margin-top: 1.5%;
  width: 100%;
  height: 76vh;
  position: relative;
  padding: 4vh 4vw 4vh 4vw;
  @include respond-to("small") {
    padding: 4vh 4vw 4vh 4vw;
  }
}

.concert-description {
  white-space: pre-wrap;
  // text-align: left;
  text-align: justify;
}


// MODAL STYLING 
.modal-date {
  font-size: 0.7rem;
  width: auto;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px 10px 2px 10px;

  @include respond-to("small") {
    background-color: white;
    color: black;
  }
}

.modal-description-col {
  padding-right: 4vw;
  position: relative;
}

.modal-bio-title {
  width: auto;
  padding-top: 2vh;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 100%;
  color: #000000;
  text-align: left;

  @include respond-to("small") {
    color: white;
  }
}

.modal-bio-description {
  margin-top: 2vh;
  position: absolute;
  right: 4vw;
  bottom: -12.5vh;
  height: 52vh;
  padding-right: 8px;
  overflow: auto;
  // margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #000000;
  text-align: justify;
  white-space: pre-wrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(228, 228, 228, 0.37); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(209, 209, 209, 0.596); 
    border-radius: 20px;
  }
  @include respond-to("xx-large") {
    height: 54vh;
  }

  @include respond-to("x-large") {
    height: 53vh;
  }

  @include respond-to("large") {
    height: 48vh;
  }

  @include respond-to("medium") {
    height: 45vh;
  }

  @include respond-to("small") {
    height: 53vh;
  }
}

.mobile-modal-bio-description {
  margin-top: 2vh;
  margin-bottom: 4vh;
  // position: absolute;
  right: 4vw;
  // bottom: -12.5vh;
  // height: 35vh;
  height: auto;
  padding-right: 8px;
  overflow: auto;
  // margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: white;
  text-align: justify;
  white-space: pre-wrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(228, 228, 228, 0.37); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(209, 209, 209, 0.596); 
    border-radius: 20px;
  }
}

.modal-info-col {
  width: 100%; // 22vw
}

.modal-image-container {
  width: 100%;
  height: 26vh;
  position: relative;
}

.modal-bio-image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  @include respond-to("small") {
    position: relative;
  }
}

.modal-info {
  width: 100%;
  // padding-top: 10px;
  // padding-bottom: 10px;
  padding-top: 2.1vh;
  height: 8.4vh;
  // margin-top: auto;
  // margin-bottom: auto;
  border-bottom: 1px solid #E3E3E3;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  color: #000000;
  text-align: left;
  @include respond-to("small") {
    font-size: 0.4rem;
  }
}

.first-row {
  margin-top: 4.2vh;
}

.last-row {
  border-bottom: none;
}

.modal-ticket {
  position: absolute;
  bottom: 4vh;
  // width: 19vw;
  width: 216px;
  @include respond-to ("small") {
    width: 102px;
  }
}

.modal-ticket-button {
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
}

.modal-free-button{
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  padding-top: 15px;
  height: 48px;
  // &:hover{
  //   cursor: initial;
  // }
}

// FESTIVAL SECTION 

.festival-image {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  @include respond-to("small") {
    width: 11.5vh;
    height: 11.5vh;
  }
}

.festival-bio-description {
  margin-top: 2vh;
  position: absolute;
  right: 4vw;
  bottom: -12.5vh;
  height: 52vh;
  padding-right: 8px;
  overflow: auto;
  left: 0px;
  // margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.7rem;
  color: #000000;
  text-align: justify;
  white-space: pre-wrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(228, 228, 228, 0.37); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(209, 209, 209, 0.596); 
    border-radius: 20px;
  }
  @include respond-to("xx-large") {
    height: 54vh;
  }

  @include respond-to("x-large") {
    height: 53vh;
  }

  @include respond-to("large") {
    height: 48vh;
  }

  @include respond-to("medium") {
    height: 45vh;
  }

  @include respond-to("small") {
    height: 53vh;
    color: white;
  }
}

.festival-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.festival-bio-col {
  padding-left: 10px;
}

.festival-bio-name {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 0.85rem;
  color: #000000;
  text-align: left;
   @include respond-to("small") {
    color: white;
  }
}

.festival-bio {
  height: 6vw;
  overflow: hidden;
  padding-right: 4px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  &::-webkit-scrollbar {
    width: 3px;
    background-color: rgba(228, 228, 228, 0.37); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 188, 183, 0.424); 
    border-radius: 20px;
  }

  @include respond-to("small") {
    width: 100%;
    height: 10vh;
    color: white;
  }
}

.festival-read-more {
  color: #007bff;
  &:hover{
    cursor: pointer;
  }
}

.disclaimer {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #000000;
  text-align: justify;
  white-space: pre-wrap;

  @include respond-to("small") {
    color: white;
  }
}

.line-up {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.85rem;
  color: #000000;
  text-align: left;
  white-space: pre-wrap;
  margin-bottom: -10px;

  @include respond-to("small") {
    color: white;
  }
}

.mobile {
  width: 100%;
  padding-right: 0px;
  
}

.mobile-modal-row {
  margin-top: 7vh;
}

.mobile-modal-image-container {
  width: auto;
  height: 27vh;
  margin-top: 1vh;
  margin-bottom: 3vh;
  // margin-right: 10px;
  // position: relative;
}

.mobile-modal-info {
  width: 100%;
  // padding-top: 10px;
  // padding-bottom: 10px;
  height: 3vh;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  color: white;
  text-align: left;
}

.mobile-modal-ticket-button {
  width: 100%;
  height: 3vh;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.6rem;
}

.mobile-modal-free-button{
  width: 100%;
  height: 3vh;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.6rem;
  padding: 0px;
  &:hover{
    cursor: initial;
  }
}
