// UPCOMING SHOW COMPONENT STYLING

@import "../../styles";

.background-image {
  width: 100%;
  object-fit: cover;
}

.featured-content {
  width: 60vw;
  height: 30vh;
  display: flex;
  margin: 10px;
  padding: 3%;
  &:hover {
    cursor: pointer;
    padding: 5%;
  }
  &:active {
    cursor: auto;
    color: white;
  }
}

a.nav-page-white {
  margin: 10px;
  color: white;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: "none";
  }
  &:active {
    color: white;
    text-decoration: "underline";
  }
}

.feature-placeholder {
  width: 100%;
  object-fit: cover;
  margin: auto;
  padding-inline-end: 0;
}

.featured-header {
  margin-top: 50px;
  height: 50px;
  vertical-align: middle;
  display: grid;
  float: left;
  padding: 2%;
}

.show-content-bar {
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
}

.upcoming-artist-name {
  font-size: 2vw;
  font-weight: $medium-weight;
  color: #303096;
  text-align: left;
  margin-top: 5%;
  margin-left: 5%;
  font-family: "Heebo", sans-serif;
}

.date {
  font-size: 1.5vw;
  font-weight: $medium-weight;
  color: #303096;
  text-align: right;
  margin-top: 5%;
  margin-right: 10%;
  font-family: "Heebo", sans-serif;
}

.time {
  font-size: 1.5vw;
  font-weight: $medium-weight;
  color: #303096;
  text-align: left;
  margin-top: 5%;
  margin-left: 10%;
  font-family: "Heebo", sans-serif;
}

.header-text {
  margin: auto;
}

.line-divider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  height: 0.2px;
  margin-top: 100px;
}

.icon {
  width: 40%;
}

.search-box {
  background: white;
  border-color: black;
  height: 40px;
  border: 1px;
  padding: 10px;
}

.search-btn {
  color: white;
  width: 40px;
  height: 40px;
  background: black;
}

.search-txt {
  border: none;
  background: none;
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 40px;
  width: 240px;
}

.form-spacer {
  height: 16px;
}
