// UPCOMING SHOW COMPONENT STYLING

@import "../../styles";

.upcoming-show-page-content {
  background-color: black;
  margin-top: -1px;
  min-height: 62vh;
}

.upcoming-show-grid {
  background: black;
  padding-left: 3%;
  padding-right: 3%;
  @include respond-to("small") {
    padding-left: 4%;
    padding-right: 4%;
  }
}

.column-in-center {
  float: none;
  margin: 0 auto;
}

.centered-row {
  align-items: center;
}

.featured-content {
  background-color: #dbdbdb;
  margin: 5% 3% 5% 3%;
  position: relative;
  // float: none;
  // display: table-cell;
  // vertical-align: top;
  height: 94%;
}

.poster-container {
  position: relative;
  width: 100%;
  height: 17vw;
  @include respond-to("small") {
    height: 45vw;
  }
}

.concert-poster {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.featured-header {
  margin-top: 50px;
  height: 50px;
  vertical-align: middle;
  display: grid;
  padding: 2%;
  // color: #e2e2e2;
}

.show-content-bar {
  max-width: 100%;
  height: 100%;
  padding-bottom: 48px;
}

.artist-name {
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // display: inherit;
  // width:300px;
  font-size: 95%;
  font-weight: bold;
  color: #1b1b1b;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: 0.4px;
  vertical-align: text-top;
  font-family: "Heebo", sans-serif;
  @include respond-to("small") {
    // font-size: 85%;
    margin-top: 7px;
    margin-right: 7px;
    margin-left: 5px;
  }
}

// .date {
//   font-size: 85%;
//   font-weight: $medium-weight;
//   color: #1b1b1b;
//   text-align: left;
//   margin-top: 1%;
//   margin-bottom: 10px;
//   margin-left: 10px;
//   font-family: "Heebo", sans-serif;
//   @include respond-to("small") {
//     // font-size: 60%;
//     margin-left: 5px;
//     margin-bottom: 7px;
//   }
// }

.time {
  font-size: 85%;
  font-weight: $medium-weight;
  color: #1b1b1b;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Heebo", sans-serif;
  @include respond-to("small") {
    // font-size: 80%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px;
  }
}

.featured-content-button-border {
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgb(83, 82, 82);
  font-weight: $medium-weight;
  letter-spacing: 0.4px;
  height: 48px;
  width: 100%;
  &:hover {
    background-color: #303096dc;
    text-decoration: "none";
  }
}

.free-concert {
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgb(83, 82, 82);
  font-weight: $medium-weight;
  letter-spacing: 0.4px;
  height: 48px;
  width: 100%;
}

.ticket {
  position: absolute;
  bottom: 0;
  width: 100%;
  // bottom: 0px;
}


.poster-tag {
  position: absolute;
  text-align: left;
  width: 5%;
  margin-left: 10px;
  margin-top: 15px;
  @include respond-to("small") {
    margin-left: 5px;
    margin-top: 10px;
  }
}

.poster-text {
  color: white;
  text-align: center;
  margin-bottom: 0px;
}

a.nav-page-white {
  margin: 10px;
  color: white;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: "none";
  }
  &:active {
    color: white;
    text-decoration: "underline";
  }
}

.header-text {
  margin: auto;
  color: #e2e2e2;
}

.line-divider {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  height: 0.2px;
  margin-top: 100px;
}

.icon {
  width: 40%;
}

.search-box {
  background: white;
  border-color: black;
  height: 40px;
  border: 1px;
  padding: 10px;
}

.search-btn {
  color: white;
  width: 40px;
  height: 40px;
  background: black;
}

.search-txt {
  border: none;
  background: none;
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 40px;
  width: 240px;
}

.form-spacer {
  height: 16px;
}

.subscribe-description {
  font-size: 17px;
  font-weight: $medium-weight;
  color: #636363;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #e2e2e2;
}

.success-message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-input-upcoming {
  width: 280px;
  color: black;
}

.concert-form {
  background-color: white;
  width: 70vw;
  height: 75vh;
  padding: 10px 20px 10px 20px;
  border: none;
  // border-radius: 5px;
  // box-shadow: 0px 3px 5px rgb(238, 237, 237);
  overflow: auto;
  @include respond-to("small") {
    width: 93vw;
    padding: 0;
  }
}

.popup-artist-info {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 14vh;
  z-index: 10;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-info-close {
  // padding: 3%;
  float: right;
  filter: invert(75%);
  &:hover {
    cursor: pointer;
  }
}

.popup-info-content {
  // margin-top: 1.5%;
  width: 100%;
  padding: 10px 30px 10px 30px;
  @include respond-to("small") {
    padding: 10px 30px 10px 30px;
  }
}

.concert-description {
  white-space: pre-wrap;
  // text-align: left;
  text-align: justify;
}


// MODAL STYLING 
.modal-date {
  font-size: 0.7rem;
  width: auto;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 2px 10px 2px 10px;
}

.modal-break {
  height: 10px;
}

.modal-bio-title {
  width: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0.001em;
  color: #000000;
  text-align: left;

}