// REGISTER PAGE COMPONENT STYLING

@import "../../styles";

.register-page-content {
  background-color: black;
  height: 50%;
  width: 100%;
}

.form-section {
  width: 100%;
}

.register-form {
  margin-top: 2.5%;
  width: 29%;
  padding-bottom: 2%;
}

.register-fields-section {
  height: 100%;
}

.register-grid {
  height: 100%;
}

.register-input-left {
  width: 50%;
  float: left;
}

.register-input-right {
  width: 50%;
  float: right;
}

.register-input {
  width: 100%;
}

.register-input-row {
  padding-bottom: 2.5%;
}

.fan-register-submit-button {
  width: 47%;
  color: white;
  font-size: 14px;
  font-weight: 420;
  background-color: #7c1fb5;
  float: left;
}

.artist-register-submit-button {
  width: 47%;
  color: white;
  font-size: 14px;
  font-weight: 420;
  background-color: #7c1fb5;
  float: right;
}

.sign-up-message {
  padding-top: 12%;
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 4%;
  color: white;
}

.email-unsubscribe-text {
  color: white;
  width: 100%;
  padding-left: 3%;
  text-align: left;
}

.email-unsubscribe-checkbox {
  width: 16px;
  height: 16px;
}

.register-verification-submit-button {
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 420;
  background-color: #7c1fb5;
}

.signup-header {
  padding-bottom: 3%;
  text-align: center;
}

.signup-header-text {
  color: white;
  width: 100%;
}

.signin-link {
  color: #7c1fb5;
  text-decoration: underline;
}

.signup-footer {
  color: white;
  padding-bottom: 5%;
}

.verification-footer {
  padding-bottom: 40%;
}
