// REGISTER PAGE COMPONENT STYLING
@import "../../styles.scss";

.register-page-content {
  background-color: black;
  //height: 50%;
  width: 100%;
}

.form-section {
  width: 100%;
  background: url("../../images/backgrounds/wave_2.svg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.register-form {
  margin-top: 8.5%;
  width: 360px;
  padding-bottom: 2%;
}

.register-fields-section {
  height: 100%;
}

.register-grid {
  height: 100%;
}

.register-input-left {
  width: 50%;
  float: left;
}

.register-input-right {
  width: 50%;
  float: right;
}

.register-input {
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    ),
    #07070f;
  border: 0;
  color: $on-surface-disable;
  margin-bottom: 13px;
}

.register-input:focus {
  border: none;
  border-bottom: 1px solid $primary-color;
}

.register-input-row {
  padding-bottom: 2.5%;
}

.register-submit-button {
  width: 167px;
  height: 45px;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.fan-submit-button {
  //width: 47%;
  // width: 167px;
  // color: white;
  // font-size: 14px;
  // font-weight: 420;
  // background-color: #794d94;
  float: left;
}

.artist-submit-button {
  //width: 47%;
  // color: white;
  // font-size: 14px;
  // font-weight: 420;
  // background-color: #794d94;
  float: right;
}

.sign-up-message {
  padding-top: 12%;
  padding-bottom: 3%;
  padding-left: 4%;
  padding-right: 4%;
  color: white;
}

.email-subscribe-prompt {
  display: flex;
  flex-direction: row;
}

.email-unsubscribe-text {
  color: white;
  width: 100%;
  padding-left: 3%;
  text-align: left;
}

.email-unsubscribe-checkbox {
  width: 16px;
  height: 16px;
}

.register-verification-submit-button {
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 420;
  background-color: #794d94;
}

.signup-header {
  padding-bottom: 20px;
  text-align: center;
}

.signup-header-text {
  color: white;
  width: 100%;
}

.signin-link {
  color: $primary-color !important;
  //text-decoration: underline;
}

.register-text-color {
  color: $on-surface-medium !important;
}

.signup-footer {
  padding-bottom: 5%;
}

.verification-footer {
  padding-bottom: 40%;
}

.red-password-suggestion {
  color: #e29696;
  margin-right: 7px;
}

.green-password-suggestion {
  color: #a6c88a;
  margin-right: 7px;
}

.password-tooltip-white {
  color: #ededed;
}

.password-suggestion-bullets {
  float: left;
}
