// REGISTER PAGE COMPONENT STYLING
@import "../../styles";

.register-prompt {
  color: #7b6dac;
  font-weight: bold;
}

.login-prompt {
  margin-top: 5%;
  margin-bottom: 0;
}

.mobile-page-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}

.loading-container {
  margin-top: 12vh;
}

.logged-in-container {
  position: relative;
  text-align: center;
  display: flex;
  margin: auto;
  height: 100%;
  margin-right: 16px;
}

.circle {
  height: 30%;
  width: 30%;
  border-radius: 50%;
  border-color: blanchedalmond;
}

.initials {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.user-icon {
  margin: auto;
  filter: invert(10%);
  height: 30%;
  width: auto;
}

.register-form-mobile {
  margin-top: 2.5%;
  width: 85%;
  padding-bottom: 2%;
}

.signup-header-text-mobile {
  color: white;
  width: 100%;
  font-size: 88%;
}

.fan-register-submit-button-mobile {
  width: 47%;
  color: white;
  font-size: 12px;
  font-weight: 420;
  background-color: #794d94;
  float: left;
}

.artist-register-submit-button-mobile {
  width: 47%;
  color: white;
  font-size: 12px;
  font-weight: 420;
  background-color: #794d94;
  float: right;
}

.signup-footer-mobile {
  color: white;
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 13px;
}

.email-unsubscribe-text-mobile {
  color: white;
  width: 100%;
  padding-left: 3%;
  text-align: left;
  font-size: 13px;
}

.signin-form-mobile {
  margin-top: 2.5%;
  width: 85%;
  padding-bottom: 2%;
}

.signin-header-text-mobile {
  color: white;
  width: 100%;
  font-size: 88%;
}

.signin-footer-mobile {
  color: white;
  padding-top: 3%;
  padding-bottom: 5%;
  font-size: 15px;
}

.forgot-footer-mobile {
  color: white;
  padding-bottom: 5%;
  padding-top: 3%;
  font-size: 15px;
}

.red-password-suggestion-mobile {
  color: #e29696;
  margin-right: 7px;
  font-size: 13px;
}

.green-password-suggestion-mobile {
  color: #a6c88a;
  margin-right: 7px;
  font-size: 13px;
}

.password-tooltip-white-mobile {
  color: white;
  font-size: 13px;
  margin-bottom: 10px;
}

.password-suggestion-bullets-mobile {
  float: left;
  margin-bottom: 0px;
}

.checkbox-row {
  margin-top: 25px;
}
