// REGISTER PAGE COMPONENT STYLING

@import "../../styles";

.register-prompt {
  color: #7b6dac;
  font-weight: bold;
}

.login-prompt {
  margin-top: 5%;
  margin-bottom: 0;
}

.mobile-page-title {
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
}
