// ARCHIVE PAGE COMPONENT STYLING
@import "../../styles";

.archive-page-content {
  padding: 2%;
  background-color: black;
  margin-top: -1px;
  min-height: 62vh;
}

.archive-container {
  padding: 2%;
}

.archive-video {
  margin-bottom: 5%;
}

.archive-video-header {
  color: #e2e2e2;
  float: left;
  font-size: 1.35em;
  @include respond-to("xx-large") {
    font-size: 1.1vw;
  }
  @include respond-to("small") {
    font-size: 3.2vw;
  }
}
