// LOGIN PAGE COMPONENT STYLING

@import "../../styles";

.login-page-content {
  background-color: black;
  margin-top: -1px;
  height: 60vh;
  width: 100%;
}

.login-input {
  width: 630px;
}

.login-blackbox {
  background-color: black;
}

.label-text {
  color: white;
}
