// LOGIN PAGE COMPONENT STYLING

@import "../../styles";

.login-page-content {
  background-color: black;
  min-height: 60vh;
  width: 100%;
  margin-top: -1px;
}

.signin-form {
  margin-top: 2.5%;
  width: 29%;
  padding-bottom: 2%;
}

.form-section {
  width: 100%;
}

.login-fields-section {
  height: 100%;
}

.login-grid {
  height: 100%;
}

.login-input {
  width: 100%;
}

.label-text {
  color: white;
}

.login-input-row {
  padding-bottom: 2.5%;
}

.signin-submit-button {
  width: 100%;
  color: white;
  font-size: 14px;
  font-weight: 420;
  background-color: #794d94;
}

.processing-message {
  padding-top: 31%;
  padding-bottom: 31%;
  color: white;
}

.login-loader-container {
  width: 60px;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 27%;
}

.signin-header {
  padding-bottom: 3%;
  text-align: center;
}

.signin-header-text {
  color: white;
  width: 100%;
}

.signup-link {
  color: #794d94;
  text-decoration: underline;
}

.signin-footer {
  color: white;
  padding-bottom: 0.5%;
}

.forgot-footer {
  color: white;
  padding-bottom: 5%;
}
