// LOGIN PAGE COMPONENT STYLING
@import "../../styles.scss";

.login-page-content {
  background-color: black;
  // min-height: 65vh;
  width: 100%;
  margin-top: -1px;
  min-height: calc(100vh - 48px);
  @include respond-to("small") {
    height: calc(100vh - 61px);
    max-height: calc(100vh - 61px);
  }
}

.signin-form {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin: auto;
  @include respond-to("small") {
    width: 100%;
    margin: auto 30px;
  }
}

.form-section {
  display: flex;
  width: 100%;
  height: 100%;
}

.login-fields-section {
  height: 100%;
}

.login-grid {
  height: 100%;
}

.login-input {
  width: 100%;
}

.label-text {
  color: white;
}

.login-input-row {
  padding-bottom: 2.5%;
}

.signin-submit-button {
  width: 100%;
  margin-top: 3px;
}

.signin-text-color {
  // display: flex;
  // text-align: center;
  color: $on-surface-medium !important;
  margin-bottom: 16px;
  @include respond-to("small") {
    color: $on-surface-disable !important;
  }
}

.signin-header-color {
  // display: flex;
  color: $primary-color !important;
  margin-bottom: 16px;
  @include respond-to("small") {
    margin-bottom: 10px;
  }
}

.processing-message {
  padding-top: 31%;
  padding-bottom: 31%;
  color: white;
}

.login-loader-container {
  width: 60px;
  margin: 0 auto;
  margin-top: 15%;
  margin-bottom: 27%;
}

.signin-header {
  padding-bottom: 3%;
  text-align: center;
  align-items: center;
}

.signin-header-text {
  color: white;
  width: 100%;
}

.signup-link {
  color: #794d94;
  text-decoration: underline;
}

.signin-footer {
  color: white;
  padding-bottom: 0.5%;
}

.forgot-footer {
  color: white;
  margin-bottom: 25px;
  margin-top: 25px;
}

.sign-in-divider {
  width: 44%;
  margin-top: 20px;
  margin-bottom: 35px;
  height: 0px;
  border: 1px solid rgba(136, 136, 136, 0.45);
}

.sign-in-divider-text {
  width: 12%;
  color: rgba(136, 136, 136, 0.55) !important;
  margin-top: 7px;
}

.social-sign-in-container {
  justify-content: center;
  margin: 2px 0 13px 0;
}

.social-sign-in-button {
  border: 1px solid $on-background;
  box-sizing: border-box;
  border-radius: 40px;
  width: 65%;
  background-color: transparent;
  height: 35px;
  min-width: 200px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.social-sign-in-text {
  color: $on-background;
}

.sign-in-divider-mobile {
  width: 44%;
  margin-top: 15px;
  margin-bottom: 28px;
  height: 0px;
  border: 1px solid rgba(136, 136, 136, 0.45);
}

.sign-in-divider-text-mobile {
  width: 12%;
  color: rgba(136, 136, 136, 0.55) !important;
  margin-top: 3px;
}
