// NAVBAR STYLING

@import "../../styles";

.main-content {
  width: 100%;
  display: flex;
}

.desktop-grid {
  width: 100%;
  display: flex;
  @include respond-to("small") {
    display: none;
  }
}

.desktop-row {
  align-items: center;
  justify-content: center;
}

.mobile-grid {
  width: 100%;
  display: none;
  @include respond-to("small") {
    display: flex;
  }
}

.desktop-row,
.mobile-row {
  width: 100%;
}

.navbar-custom {
  width: 100%;
  height: 176px;
  background-color: none;
  position: relative;
  display: flex;
  @include respond-to("large") {
    height: 140px;
    padding: 0;
  }
  @include respond-to("small") {
    flex: 0 1 131px;
    // height: 131px;
    padding: 0;
    background-color: black;
  }
  z-index: 100;
}

.navbar-black {
  width: 100%;
  height: 176px;
  background-color: black;
  position: relative;
  display: flex;
  @include respond-to("large") {
    height: 140px;
    padding: 0;
  }
  @include respond-to("small") {
    flex: 0 1 131px;
    // height: 131px;
    padding: 0;
    background-color: black;
  }
  z-index: 100;
}

.onfour-logo-desktop {
  height: 100px;
  margin: auto;
  @include respond-to("large") {
    height: 80px;
    padding: 0;
  }
  @include respond-to("medium") {
    height: 60px;
    padding: 0;
  }
  @include respond-to("small") {
    display: none;
  }
}

.onfour-logo-mobile {
  margin-top: 42px;
  height: 75px;
  display: none;
  @include respond-to("small") {
    display: inline;
  }
}

.hamburger-menu {
  height: 131px;
  width: 100%;
  display: none;
  @include respond-to("small") {
    display: flex;
  }
}

.hamburger-icon {
  margin: auto;
  color: white;
}

.nav-page-black,
.nav-page-white {
  margin: auto;
  font-size: 1.1rem;
  font-family: "Heebo", sans-serif;
  font-weight: $medium-weight;
  @include respond-to("x-large") {
    font-size: 0.95rem;
  }
  @include respond-to("large") {
    font-size: 0.8rem;
  }
  @include respond-to("medium") {
    font-size: 0.65rem;
  }
}

.nav-home {
  float: left;
  text-align: end;
  padding: 20px;
}

a.nav-page-white {
  color: white;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: "none";
  }
  &:active {
    color: white;
    text-decoration: "underline";
  }
}

a.nav-page-black {
  color: white;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: "none";
  }
  &:active {
    color: white;
    text-decoration: "underline";
  }
}

.login-button {
  margin: 10px;
  background-color: green($color: #c4b1b1);
}

// mobile nav menu
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  // background-color: rgba(0, 0, 0, 0.95); /* Black w/opacity */
  // overflow-y: auto; /* Disable horizontal scroll */
  // overflow-y: scroll;
  // overscroll-behavior: contain;
  overflow: auto;
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.signin-content {
  position: relative;
  top: 15%; /* 15% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  // margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  // margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.navbar-close {
  height: 60px;
  padding: 5%;
  float: right;
}

.close-icon {
  color: white;
}

.mobile-nav-link {
  margin-top: 5%;
}

.mobile-link-text {
  font-size: 1.3rem;
}

.user-menu {
  height: 131px;
  width: 100%;
  @include respond-to("small") {
    display: flex;
  }
}

.user-icon {
  margin: auto;
  color: rgb(240, 231, 231);
  height: 30%;
  width: auto;
}

.dropdown-menu-profile {
  width: 100px;
  @include respond-to("small") {
    display: flex;
  }
}

.greeting-container {
  height: 100%;
}

.toggle-greeting {
  font-size: 1.1rem;
  font-family: "Heebo", sans-serif;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
  }
  margin: auto;
  @include respond-to("x-large") {
    font-size: 0.95rem;
  }
  @include respond-to("large") {
    font-size: 0.8rem;
  }
  @include respond-to("medium") {
    font-size: 0.65rem;
  }
}

.toggle-color {
  color: white;
  height: 100%;
  display: flex;
}

.greeting-mobile {
  margin-top: 20%;
  width: 100%;
}

.greeting-mobile-text {
  font-size: 1.6rem;
  color: white;
}

.sign-out-container {
  width: 100%;
  margin: auto;
}

.sign-out-button {
  width: 100%;
  height: 100%;
  color: rgb(124, 124, 124);
  font-size: 14px;
  font-weight: 420;
}

.sign-out-button-mobile {
  margin-top: 10%;
  margin-bottom: 20%;
}

.logged-in-icon {
  margin: auto;
  height: 30%;
  width: auto;
}