// NAVBAR STYLING

@import "../../styles";

.desktop-grid {
  width: 100%;
  display: flex;
  @include respond-to("small") {
    display: none;
  }
}

.desktop-row {
  align-items: center;
  justify-content: center;
}

.mobile-grid {
  width: 100%;
  display: none;
  @include respond-to("small") {
    display: flex;
  }
}

.desktop-row,
.mobile-row {
  width: 100%;
}

.navbar-custom {
  width: 100%;
  height: 176px;
  background-color: none;
  position: relative;
  display: flex;
  @include respond-to("small") {
    height: 131px;
    padding: 0;
  }
}

.onfour-logo-desktop {
  height: 124px;
  margin: auto;
  @include respond-to("small") {
    display: none;
  }
}

.onfour-logo-mobile {
  margin-top: 42px;
  height: 75px;
  display: none;
  @include respond-to("small") {
    display: inline;
  }
}

.hamburger-menu {
  height: 131px;
  width: 100%;
  display: none;
  @include respond-to("small") {
    display: flex;
  }
}

.hamburger-icon {
  margin: auto;
}

.nav-page-black,
.nav-page-white {
  margin: auto;
  font-size: 1.1rem;
  font-family: "Heebo", sans-serif;
  font-weight: $medium-weight;
  @include respond-to("x-large") {
    font-size: 1rem;
  }
  @include respond-to("large") {
    font-size: 0.9rem;
  }
}

.nav-home {
  float: left;
  text-align: end;
  padding: 20px;
}

a.nav-page-white {
  color: white;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: "none";
  }
  &:active {
    color: white;
    text-decoration: "underline";
  }
}

a.nav-page-black {
  color: #4d4d4d;
  &:hover {
    cursor: pointer;
    color: #4d4d4d;
    text-decoration: "none";
  }
  &:active {
    color: #4d4d4d;
    text-decoration: "underline";
  }
}

.login-button {
  margin: 10px;
  background-color: green($color: #c4b1b1);
}
