// NAVBAR STYLING

@import "../../styles";

.mobile-grid {
  width: 100%;
  display: none;
  @include respond-to("small") {
    display: flex;
  }
}

.mobile-row {
  width: 100%;
}

// MOVE
.navbar-custom {
  width: 100%;
  height: 150px;
  background-color: none;
  position: relative;
  display: flex;
  @include respond-to("small") {
    height: 131px;
    padding: 0;
  }
}

// MOVE
.onfour-logo-desktop {
  height: 53px;
  @include respond-to("small") {
    display: none;
  }
  // @include respond-to("x-small") {
  //   height: 25px;
  // }
  margin: 25px;
}

.onfour-logo-mobile {
  margin-top: 42px;
  height: 75px;
  display: none;
  @include respond-to("small") {
    display: inline;
  }
}

.hamburger-menu {
  height: 131px;
  width: 100%;
  display: none;
  @include respond-to("small") {
    display: flex;
  }
}

.hamburger-icon {
  margin: auto;
}

// MOVE
.nav-page-black,
.nav-page-white {
  font-size: 0.9rem;
  float: right;
  text-align: end;
  padding: 20px 30px;
  font-family: "Heebo", sans-serif;
  @include respond-to("medium") {
    display: none;
  }
}

// MOVE
.nav-home {
  float: left;
  text-align: end;
  padding: 20px;
}

// MOVE
a.nav-page-white {
  margin: 10px;
  color: white;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
    color: white;
    text-decoration: "none";
  }
  &:active {
    color: white;
    text-decoration: "underline";
  }
}

// MOVE
a.nav-page-black {
  margin: 10px;
  color: #4d4d4d;
  font-weight: $medium-weight;
  &:hover {
    cursor: pointer;
    color: #4d4d4d;
    text-decoration: "none";
  }
  &:active {
    color: #4d4d4d;
  }
}

/* .nav-active {
    // font-weight: $bold-weight;
    color: black;
  } */

// MOVE
.login-button {
  margin: 10px;
  background-color: green($color: #c4b1b1);
}
