// SOCIAL BAR COMPONENT STYLING

@import "../../styles";

.social-bar-container {
  margin-top: 3%;
}

.social-list {
  padding-inline-start: 0px;
  float: right;
}

.social-media li {
  list-style: none;
  margin: 10px 10px 0px 10px;
  display: inline-block;
  font-size: 25px;
  color: #e2e2e2;
  border-radius: 50%;
}

.social-media li a {
  text-decoration: none;
  color: #e2e2e2;
}

.social-media li a span {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

.donation-link {
  margin-top: 2%;
}

// STREAM PAGE

.fa-paypal:hover {
  color: #019cde;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-spotify:hover {
  color: #1db954;
}

.fa-instagram:hover {
  color: #833ab4;
}

.fa-youtube:hover {
  color: #c4302b;
}

.fa-twitter:hover {
  color: lightblue;
}
