@import "../../styles";

.feature-card-container {
  display: flex;
  position: relative;
  width: 328px;
  height: 208px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    ),
    #07070f;
  border-radius: 10px;
  //   margin-left: 36.5px;
  //   margin-right: 36.5px;
  //padding: 0px 20px;
}

.feature-card-title {
  position: absolute;
  top: 43px;
  text-align: left;
  padding: 0px 20px;
}

.feature-card-description-container {
  position: absolute;
  top: 119px;
  padding: 0px 20px;
}

.feature-card-description {
  position: relative;
  text-align: left;
}
