@import "../../styles";

.step-card-container {
  width: 331px;
  height: 223px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    ),
    #07070f;
  border-radius: 10px;
  // margin-left: 36.5px;
  // margin-right: 36.5px;
  // margin: auto;
  padding: 0px 10px;
  @include respond-to("small") {
    width: 323px;
    height: 189px;
    margin: auto;
    margin-bottom: 17px;
  }
  @include respond-to("xx-small") {
    width: 278px;
    height: 166px;
    margin: auto;
    margin-bottom: 17px;
  }
}

// .step-card-container:first-child {
//   margin-left: 0;
//   @include respond-to("small") {
//     margin: auto;
//     margin-bottom: 17px;
//   }
// }

// .step-card-container:last-child {
//   margin-right: 0;
//   @include respond-to("small") {
//     margin: auto;
//     margin-bottom: 17px;
//   }
// }

.step-card-number {
  margin-top: 37px;
  @include respond-to("small") {
    margin-top: 31px;
  }
}

.step-num-text {
  display: inline;
  color: #07070f !important;
  margin: auto;
  text-align: center;
  @include respond-to("small") {
    line-height: 40px !important;
  }
}

.ellipse {
  height: 43px;
  width: 43px;
  border-radius: 43px;
  margin: auto;
  background-color: $on-background;
  @include respond-to("small") {
    height: 40px;
    width: 40px;
    border-radius: 40px;
  }
}

.step-card-text {
  margin-top: 16px;
}

.step-card-description {
  margin-top: 9px;
  @include respond-to("small") {
    padding: 0px 20px;
  }
}
