// LOGIN PAGE COMPONENT STYLING

@import "../../styles";

.forgot-page-content {
  background-color: black;
  height: 100%;
  width: 100%;
}

.forgot-form {
  margin-top: 4%;
  padding-bottom: 13%;
  height: 100%;
  width: 40%;
}

.forgot-fields-section {
  height: 100%;
}

.forgot-grid {
  height: 100%;
}

.forgot-page {
  background-color: black;
  height: 100%;
  width: 100%;
}

.forgot-submit-button {
  width: 42%;
  color: white;
  font-size: 14px;
  font-weight: 420;
}

.forgot-input {
  width: 100%;
}

.label-text {
  color: white;
}

.login-purple-scheme {
  background-color: #979bbb;
}

.success-container {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.loader-container {
  width: 60px;
  margin: 0 auto;
}

.success-message-forgot {
  color: white;
  margin-top: 20vh;
  white-space: pre-wrap;
}