// FOOTER COMPONENT STYLING
@import "../../styles";

.footer-container {
  background-color: #07070F;
  width: 100%;
  padding: 60px 10px 10px 10px;
  margin-top: -1px;
  @include respond-to("small") {
    padding-top: 15px;
  }
  display: flex;
}

.footer-grid {
  width: 100%;
}

.footer-container h3 {
  margin-top: 10px;
  color: #eaeaea;
  text-align: right;
  font-size: 17px;
  font-weight: $semimedium-weight;
}

.footer-container p {
  color: #eaeaea;
  text-align: left;
  font-size: 16px;
}

.footer-container h6 {
  color: #eaeaea;
  text-align: left;
  font-size: 13px;
  font-weight: $regular-weight;
}

.footer-container hr {
  border-color: #eaeaea;
  width: 82%;
}

.footer-links {
  float: right;
  margin-top: 10px;
}

.footer-links ul {
  list-style: none;
  text-align: right;
  padding-left: 0;
  font-size: 16px;
}

.footer-links li {
  display: block;
}

.footer-links li a {
  color: #eaeaea;
}

.footer-links li .privacy-link {
  color: #eaeaea;
}

.footer-social-media ul {
  float: right;
}

.footer-social-media li {
  list-style: none;
  margin: 0px 10px;
  display: inline-block;
  font-size: 26px;
  color: #07070F;
  @include respond-to("small") {
    margin-right: 12px;
    margin-left: 0;
    font-size: 20px;
  }
}

.footer-social-media li a {
  text-decoration: none;
  color: #eaeaea;
}

.footer-logo-container {
  height: 80px;
  width: 80px;
  position: relative;
}

.onfour-logo-footer {
  // height: 80px;
  // float: left;
  @include respond-to("medium") {
    height: 50px;
  }
  @include respond-to("x-small") {
    height: 35px;
  }
  position: absolute;
  top: 50%;
  height: 80px;
  // left: -25%;
}

.hidden-text {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
