// FOOTER COMPONENT STYLING
@import "../../styles";

.footer-container {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09)
    ),
    #07070f;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 100%;
  margin-top: -1px;
  display: flex;
  flex-direction: column;
}

.footer-inner-container {
  display: flex;
  flex-direction: row;
  margin: 0px 154px;
  &:first-child {
    margin-top: 62px;
  }
  @include respond-to("x-large") {
    margin: 0px 120px;
  }

  @include respond-to("large") {
    margin: 0px 80px;
  }
  @include respond-to("medium") {
    margin: 0px 40px;
  }
}

.footer-column-main {
  display: flex;
  flex-direction: column;
  // margin-right: 22%;
}

.footer-link-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 0;
  margin-left: auto;
}

.footer-column-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 70px;
}

.onfour-logo-container {
  width: 148px;
}

.footer-link {
  margin-top: 16px;
}

.footer-text-body {
  color: $on-surface-medium !important;
}

.footer-bottom {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.footer-social-media ul {
  float: right;
}

.footer-social-media li {
  list-style: none;
  margin: 0px 10px;
  display: inline-block;
  font-size: 26px;
  color: #07070f;
  @include respond-to("small") {
    margin-right: 12px;
    margin-left: 0;
    font-size: 20px;
  }
}

.footer-social-media {
  margin-right: 0;
  margin-left: auto;
}

.footer-social-media li a {
  text-decoration: none;
  color: #eaeaea;
}

.hidden-text {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}
