// PROFILE COMPONENT STYLING

@import "../../styles";

.profile-page {
  //margin-top: -1px;
  background-color: black;
  min-height: 60vh;
  height: calc(-53px + 100vh);
  overflow: auto;
  align-items: flex-start;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(228, 228, 228, 0.253); /* Chrome/Safari/Webkit */
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(141, 141, 141, 0.596);
    border-radius: 20px;
  }
}

.profile-section {
  padding: 2% 3% 2% 40px;
}

.profile-button-col {
  height: calc(-53px + 100vh);
  width: 50px;
  // background: linear-gradient(184.64deg, #000000 4.64%, rgba(106, 99, 119, 0.873481) 40.92%, black 89%), #303030;
  background-color: #181818;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  align-self: flex-end;
}

.profile-dashboard-icon {
  width: 28px;
  height: 28px;
  margin: 15px auto;
  opacity: 0.5;
  &:hover {
    cursor: pointer;
    opacity: 1 !important;
  }
}

.initial-highlight {
  opacity: 1;
}

.header-section {
  height: 28px;
  margin: 15px 10px;
  //padding-bottom: 5%;
  background-color: black;
  // box-shadow: 0px 4px 4px #1d1d1d;
}

.profile-header-icon {
  width: 28px;
  height: 28px;
  margin: 0px 10px 0px 30px;
}

.header-grid {
  width: 100%;
  height: 5vh;
  display: flex;
  //display: grid;
  //grid-template-columns: 1fr 1fr 1fr 1fr;
}

.profile-user-section {
  width: 20vw;
  height: 100%;
}

.user-icon-container {
  position: relative;
}

.profile-user-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: 5vh;
  width: 5vh;
  object-fit: cover;
}

.profile-preview-content-header {
  float: left;
  color: white;
  font-size: 1.1rem;
  //line-height: 10vh;
  margin: 0px;
}

.username-header {
  font-size: 1.3rem;
  margin: auto 0;
}

.empty-upcoming-concert-container {
  padding: 10vh 0px;
}

.dashboard-header {
  font-size: 1rem;
  font-weight: normal;
  color: white;
  width: 8vw;
  height: 8vh;
  margin: 0 auto;
  border-bottom: 2px solid #c4c4c4;
}

.perform-header {
  font-size: 1rem;
  color: #c4c4c4;
  font-weight: normal;
  width: 11vw;
  height: 8vh;
}

.profile-stub-component {
  transform: rotate(90deg);
}

.profile-stub-container {
  width: 100%;
  position: relative;
}

.profile-stub {
  width: 100%;
}

.carousel-container {
  max-width: 100%;
  position: absolute;
  overflow: hidden;
}

.profile-column {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.stubs-column {
  max-width: 100%;
  max-height: 100%;
}

.slick-track {
  width: 100% !important;
}

.slick-slide {
  width: 100% !important;
}

.empty-state-message {
  padding-top: 1%;
  color: white;
}

.upcoming-prompt-button {
  margin-top: 2%;
  background-color: white;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.045em;
  @include respond-to("small") {
    margin: 8% 0%;
    width: 100%;
  }
}

.upcoming-prompt-button:hover:not([disabled]) {
  background-color: #2c28f8;
  color: white;
}

.upcoming-prompt-button:focus:not([disabled]) {
  background-color: black;
  border: 1px solid #2c28f8;
  color: #cfc8c4;
}

.user-crews-container {
  margin: 32px 0px;
  width: 100%;
  overflow: scroll;

  & .user-crews-title {
    margin-bottom: 32px;
  }

  & .create-crew-wrapper {
    width: 242px;
    height: 270px;
    background: rgba(50, 50, 50, 0.67);
    border-radius: 7px 7px 7px 7px;
    cursor: pointer;

    & > p {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 270px;
      text-align: center;
      letter-spacing: 0.045em;
      vertical-align: middle;
      color: #dbdbdb;
    }
  }
}

.user-crews-container::-webkit-scrollbar {
  display: none;
}

.user-crews-modal {
  & .rodal-dialog {
    border-radius: 10px;
    & .rodal-close:before,
    & .rodal-close:after {
      background: white !important;
    }
  }
}

.user-create-crew {
  margin: 12px;
  margin-top: 21px;
  position: relative;
  height: 100%;

  & .crew-modal-stacked-row {
    display: block;
    margin-top: 15px;
  }

  & .crew-modal-flex-row {
    margin-top: 3px;
    display: flex;
  }

  & p {
    font-family: Helvetica;
    font-style: normal;
    color: #ffffff;
  }

  & .crew-modal-section-title {
    text-align: left;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.045em;
  }

  & .crew-modal-members-text {
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 47px;
    letter-spacing: 0.045em;
    color: rgba(245, 240, 237, 0.6);
    margin-left: 13px;
  }

  & .crew-modal-members-icon {
    border: 1px solid;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    color: rgba(245, 240, 237, 0.6);

    & svg {
      height: 41px;

      & path {
        color: rgba(245, 240, 237, 0.6);
      }
    }
  }

  & .crew-modal-input {
    height: 44px;
    background: #e0e0e0;
    font-family: Helvetica;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.045em;

    color: #000000;

    &::placeholder {
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.045em;
      color: #252121;
    }

    &:focus {
      background: #ffffff !important;
    }
  }

  & .crew-modal-color-wrapper {
    display: flex;

    & .crew-modal-color-option {
      height: 47px;
      width: 47px;
      border-radius: 50%;
      border: 1px solid rgba(245, 240, 237, 0.6);
      margin-right: 17px;
      cursor: pointer;

      & > svg {
        height: 43px;

        & > path {
          color: white;
        }
      }
    }
  }

  & .crew-modal-save-button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;

    & button {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.045em;
      color: #ffffff;
      background: none;
      margin: 0px auto;
    }

    & button:disabled {
      color: rgba(245, 240, 237, 0.6) !important;
    }

    & button:active,
    & button:focus {
      outline: none !important;
    }
  }

  & .crew-modal-user-container {
    height: 110px;
    overflow-y: scroll;
  }

  & .crew-modal-add-user-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    & .crew-modal-add-user-data {
      display: flex;

      & .crew-modal-add-user-initial {
        border: 1px solid;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        color: rgba(245, 240, 237, 0.6);
        background: white;
        font-size: 25px;
        line-height: 45px;
        font-weight: 500;
      }

      & .crew-modal-add-user-data-wrapper {
        margin-left: 13px;
        text-align: left;

        & .crew-modal-add-user-name {
          font-family: Helvetica;
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          letter-spacing: 0.045em;
          color: white;
          margin: 0px !important;
        }

        & .crew-modal-add-user-email {
          font-family: Helvetica;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          letter-spacing: 0.045em;
          color: rgba(245, 240, 237, 0.6);
          margin: 0px !important;
        }
      }
    }

    & .crew-modal-add-user-remove-button {
      height: 100%;
      line-height: 45px;
      cursor: pointer;

      & path {
        color: rgba(245, 240, 237, 0.6);
      }
    }
  }
}

.crew-modal-discard-modal {
  border-radius: 5px !important;

  & .rodal-dialog {
    padding: 0px;

    & .crew-modal-discard-text {
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 90px;
      text-align: center;
      width: 100%;

      & p {
        width: 100%;
      }
    }

    & .crew-modal-discard-buttons {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 56px;

      & button {
        width: 50%;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-top: 1px solid #cecece;
        background-color: white;
        color: #5a64be;
        font-family: Helvetica;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
      }

      & button:active,
      & button:focus {
        outline: none;
      }

      & .crew-modal-discard-button-discard {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 5px;
        border-left: 1px solid #cecece;
        color: #bc3535 !important;
      }
    }
  }
}

.crew-stub-wrapper {
  width: 242px;
  height: 277px;
  border-radius: 7px;
  margin-right: 40px;
  position: relative;
  cursor: pointer;

  & .crew-stub-title {
    height: 39px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;

    & > p {
      font-family: Helvetica;
      font-style: italic;
      font-weight: bold;
      font-size: 18px;
      line-height: 39px;
      text-align: center;
      letter-spacing: 0.045em;
      color: #ffffff;
      width: 90%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0px auto;
    }
  }

  & .crew-stub-crew-members {
    display: block;

    & .crew-stub-member {
      border-bottom: 1px solid rgba(245, 240, 237, 0.4);
      padding-top: 9px;
      padding-bottom: 8px;

      & .crew-stub-member-initial {
        height: 43px !important;
        width: 43px !important;
        border-radius: 50%;
        border: 1px solid rgba(245, 240, 237, 0.6);
        margin-left: 20px;
        line-height: 45px;
        background-color: white;
        font-size: 25px;
      }

      & .crew-stub-member-data-wrapper {
        width: 169px;
        text-align: left;
        padding-left: 15px;

        & > p {
          margin: 0px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0px auto;
        }

        & .crew-stub-member-data-username {
          font-family: Helvetica;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          letter-spacing: 0.045em;
          color: #ffffff;
        }

        & .crew-stub-member-data-email {
          font-family: Helvetica;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          letter-spacing: 0.045em;
          color: rgba(245, 240, 237, 0.6);
        }
      }
    }

    & .crew-stub-member:nth-child(3) {
      border-bottom: none !important;
    }
  }

  & .crew-stub-options {
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    letter-spacing: 0.045em;
    height: 52px;
    color: #ffffff;
    width: 100%;
    border-top: 1px solid rgba(245, 240, 237, 0.4);

    & > p {
      text-align: center;
      color: #ffffff;
      width: 100%;
      line-height: 36px;
    }
  }
}

.single-crew-modal {
  width: 458px;
  & .rodal-dialog {
    border-radius: 20px;
    padding: 0px;
  }

  & .single-crew-column {
    width: 458px;
    position: relative;
    height: 558px;
  }

  & .single-crew-title {
    height: 54px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    & > p {
      width: 90%;
      line-height: 54px;
      text-align: center;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      text-align: center;
      letter-spacing: 0.045em;
      color: #ffffff;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin: 0px auto;
    }
  }

  & .single-crew-input {
    border-bottom: 1px solid rgba(245, 240, 237, 0.4);
    width: 401px;
    margin: 0px auto;

    & > input {
      height: 44px;
      background: #e0e0e0;
      font-family: Helvetica;
      border: none;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.045em;
      width: 401px;
      margin: 10px auto;
      color: #000000;

      &::placeholder {
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.045em;
        color: #252121;
      }

      &:focus {
        background: #ffffff !important;
      }
    }
  }

  & .single-crew-member-wrapper {
    display: block;
    max-height: 395px;
    overflow-y: overlay;

    & .single-crew-member {
      border-bottom: 1px solid rgba(245, 240, 237, 0.4);
      width: 401px;
      margin: 0px auto;
      padding-top: 20px;
      padding-bottom: 20px;

      & .single-crew-member-initial {
        height: 45px !important;
        width: 45px !important;
        border-radius: 50%;
        border: 1px solid rgba(245, 240, 237, 0.6);
        margin-left: 20px;
        line-height: 45px;
        background-color: white;
        font-size: 25px;
      }

      & .single-crew-member-data-wrapper {
        width: 300px;
        text-align: left;
        padding-left: 23px;

        & > p {
          margin: 0px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0px auto;
        }

        & .single-crew-member-data-username {
          font-family: Helvetica;
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          letter-spacing: 0.045em;
          color: #ffffff;
        }

        & .single-crew-member-data-email {
          font-family: Helvetica;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          letter-spacing: 0.045em;
          color: rgba(245, 240, 237, 0.6);
        }
      }
    }
  }

  & .single-crew-button {
    position: absolute;
    bottom: 0px;
    width: 100%;

    & > button {
      margin: 0px auto;
      font-family: Helvetica;
      font-style: normal;
      font-weight: bold;
      font-size: 17px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.045em;
      color: #ffffff;
      background: none;
      
      &:focus {
        outline: none;
      }
    }
  }
}

.memories-container {
  margin-top: 30px;
}
