// PRIVACY PAGE STYLING

@import "../../styles";

.privacy-page {
  width: 100vw;
  background-color: black;
  color: white;
  margin-top: -1px;
  min-height: 70vh;
}

.privacy-container {
  // position: absolute;
  width: 50%;
  margin: 0 auto;
  text-align: justify;

  li {
    color: white;
    font-size: 1rem;
  }
  h2 {
    color: white;
  }
  h3 {
    color: white;
    font-size: 1.3rem;
  }
  ol {
    color: white;
    font-size: 1rem;
  }
  p {
    color: white;
    font-size: 1rem;
  }
}

.privacy-header {
  color: white;
  text-align: center;
  margin: 20px;
  padding-bottom: 20px;
}
