$primary-color: #e465a2;
$secondary-color: #626bf7;
$background-color: rgba(7, 7, 15, 0.8);
$surface-color: #0c0c1b;
$error-color: #be7884;
$on-primary: #000000;
$on-primary-disable: rgba(0, 0, 0, 0.38);
$on-secondary: #000000;
$on-background: rgba(255, 255, 255, 0.87);
$on-surface-high: rgba(255, 255, 255, 0.87);
$on-surface-medium: rgba(255, 255, 255, 0.6);
$on-surface-disable: rgba(255, 255, 255, 0.28);
$on-error: #000000;
$tag-card: #dddddd;
$card-pink: #bf8af4;
$card-blue: #49bdfe;
$card-purple: #444df2;
$card-orange: #e26a6a;
$card-green: #04adc0;
$card-yellow: #d1ae53;
$on-card: #000000;
$border-on-button: $primary-color;
$border-input-card: rgba(255, 255, 255, 0.5);
$border-focus-card: $secondary-color;

$regular-weight: 400;
$medium-weight: 500;
$semimedium-weight: 600;
$bold-weight: 700;
