@import "colors";
@import "./mixins";
@import "./fonts";

.custom-app {
  display: flex;
  flex-direction: column;
}

.short-term-spacer {
  height: 100px;
  @include respond-to("small") {
    display: none;
  }
}

.button-border {
  border-radius: 3px;
  // box-shadow: 0px 3px 5px grey;
  //font-weight: $medium-weight;
  letter-spacing: 0.4px;
}

.button-height {
  height: 48px;
}

// PRIMARY BUTTON STYLES
.primary-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  border-radius: 4px;
  color: $on-primary;
}

.primary-button span {
  display: flex;
  margin: auto;
}

.primary-button:hover {
  background-color: #ea91bd;
}

.primary-button:focus {
  background-color: $primary-color;
}

.primary-button:disabled {
  background-color: $primary-color;
  color: rgba(0, 0, 0, 0.38) !important;
}

.secondary-button {
  min-width: 94px;
  min-height: 24px;
  // width: 94px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  text-align: center;
}

.tag-container {
  width: 55px;
  height: 24px;
}

// TAG STYLES
.tag-body {
  background-color: $on-background;
  //padding: 5px;
  height: 100%;
  width: 100%;
  display: flex;
}

// PAGE SPECIFIC STYLES

// MAIN PAGE STYLING

h2 {
  padding-bottom: 0;
  color: #4d4d4d;
}

// .paragraph-text {
//   text-align: center;
//   padding-left: 20%;
//   padding-right: 20%;
//   padding-bottom: 50px;
// }

.spacer {
  height: 160px;
  @include respond-to("small") {
    display: none;
  }
}

// FORM STYLING

form {
  display: inline-block;
}

input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  transition: 0.3s;
  margin-right: 10px;
}

input:focus {
  border: 2px solid #e465a2;
}

button {
  background-color: #303096;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  // box-shadow: 0px 3px 5px grey;
}

h5 {
  padding: 5px;
}

// MOBILE STYLING

.header-mobile {
  text-transform: uppercase;
  float: left;
  color: white;
  padding-bottom: 24px;
  font-size: 24px;
  margin-top: 0.5rem;
}

.main-content-mobile {
  padding: 3%;
}

.mobile-section {
  // margin-bottom: 1rem;
  border: 1px solid white;
  padding: 1.4rem;
}

.description-text-mobile {
  margin-bottom: 0.6rem;
  letter-spacing: 0.1px;
  line-height: 2rem;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.inline-form-2 {
  margin: auto;
  padding: 0px;
  width: 100%;
  margin-bottom: 1.3rem;
}

.email-button-mobile {
  margin-bottom: 1.3rem;
}
.subscribe-success {
  color: white;
}

.full-row {
  height: 100%;
}
