// CHECKOUT COMPONENT STYLING
@import "../../styles";

.checkout-modal-grid {
  background-color: transparent;
  height: 100%;
  position: relative;
}

.checkout-modal-header {
  height: 20%;
  width: 100%;
}

.ticket-modal-header {
  height: 15%;
  width: 100%;
}

.go-back-arrow {
  position: absolute;
  top: 16px;
  left: 16px;
  color: rgba(255, 255, 255, 0.87);
  font-size: 18px;
  &:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.28);
  }
}

.checkout-modal-header-text {
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.045em;
  margin-top: 23px;
  color: rgba(255, 255, 255, 0.87) !important;
}

.checkout-modal-body {
  height: 80%;
  width: 100%;
  position: relative;
}

.ticket-modal-body {
  height: 85%;
  width: 100%;
  position: relative;
}

.checkout-modal-ticket-select-container {
  width: calc(100% - 32px);
  height: 40%;
  position: absolute;
  display: flex;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  box-sizing: border-box;
  /* 08 dp */
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
}

.ticket-modal-container {
  width: calc(100% - 16px);
  height: calc(100% - 80px);
  margin: 0 auto;
  margin-top: 34px;
  display: flex;
  flex-direction: column;
}

.custom-ticket-summary-form {
  width: 100%;
  height: 234px;
  padding: 0px 33px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    ),
    #07070f;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.ticket-summary-form {
  width: 100%;
  height: 181px;
  padding: 0px 33px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    ),
    #07070f;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.name-your-price-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 48px;
  margin-top: 28px;
}

.name-your-price-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ticket-disclaimer {
  color: $primary-color !important;
  text-align: left;
}

.ticket-item-container {
  display: flex;
  flex-direction: row;
}

.ticket-summery-field {
  flex: 1;
  // padding: 0px 30px;
  color: rgba(255, 255, 255, 0.87) !important;
  //line-height: 48px !important;
}

.fee-receipt {
  height: 115px;
  padding: 24px 0px;
}

.fee-receipt-small {
  // height: 115px;
  padding: 18px 0px;
  @include respond-to("small") {
    padding: 12px 0px;
  }
}

.ticket-summary-field-2 {
  flex: 1;
  // padding: 0px 30px;
  color: rgba(255, 255, 255, 0.87) !important;
  line-height: 31px !important;
}

.ticket-summary-field-3 {
  flex: 1;
  // padding: 0px 30px;
  color: rgba(255, 255, 255, 0.87) !important;
  line-height: 35px !important;
}

.custom-ticket-summery-field {
  // flex: 1;
  // padding: 0px 30px;
  color: rgba(255, 255, 255, 0.87) !important;
  line-height: 66px !important;
}
.custom-ticket-form-input {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.07),
      rgba(255, 255, 255, 0.07)
    ),
    #07070f;
  border-radius: 3px;
  //   height: 15%;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 5px !important;
  // height: 20%;
  width: 146px;
  height: 48px;
  text-align: left;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  // margin-right: 3%;
  border: none;
  caret-color: #e465a2;
  font-size: 1rem;
  padding: 12px 24px;
  color: rgba(255, 255, 255, 0.87);
  float: right;
  &::placeholder {
    color: rgba(255, 255, 255, 0.28);
  }
  &:focus {
    border: 2px solid #e465a2 !important;
  }
  @include respond-to("small") {
    padding: 8px 12px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
}

.ticket-total-container {
  display: flex;
  flex: 1;
}

.total-text {
  font-weight: bold !important;
  margin-top: auto;
  margin-bottom: auto;
}

.lh-33 {
  line-height: 33.33px !important;
}

.top-border {
  border-top: 1px solid rgba(136, 136, 136, 0.38);
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.checkout-modal-GA {
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.12),
      rgba(255, 255, 255, 0.12)
    ),
    #07070f;
  flex: 1;
  border: 1px solid #e465a2;
  color: rgba(255, 255, 255, 0.87);
  background: transparent;
  box-sizing: border-box;
  text-align: center;
  /* 08 dp */
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12),
    0px 5px 5px rgba(0, 0, 0, 0.2);
  &:hover {
    cursor: pointer;
  }
}

.text-color {
  color: rgba(255, 255, 255, 0.87) !important;
}

.disabled-backstage {
  &:hover {
    cursor: initial !important;
  }
}

.disabled-GA {
  &:hover {
    cursor: initial !important;
  }
}

.selected-style {
  background: #e465a2;
}

.GA-text {
  height: 26px !important;
  margin-top: calc(50% - 39px) !important;
  color: rgba(255, 255, 255, 0.87) !important;
  white-space: pre-wrap;
  text-align: center;
}

.checkout-modal-checkout-button {
  width: calc(100% - 32px);
  height: 45px;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: #e465a2;
  border-radius: 4px;
}

.checkout-modal-tab {
  display: flex;
  cursor: pointer;
  margin-bottom: -2px;
}

.checkout-modal-tab.selected-tab {
  border-bottom: 3px solid #e465a2;
}

.checkout-modal-tab-text {
  display: flex;
  margin: auto;
  margin-bottom: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.28) !important;
}

.checkout-modal-tab-text.selected-tab {
  color: rgba(255, 255, 255, 0.87) !important;
  margin-bottom: 12px;
}
